main
	section#banner
		.banner-bg
			.banner-bg__img.jsAppendRight.a-hidden
				img(src='img/bg-banner.png')
			.container
				.row
					.col-sm-9.col-md-7
						.banner-text
							.banner-title.jsAppendLeft Сервіс доставки збалансованого харчування
							.banner-subtitle.jsAppendLeft Відчуйте корсить та насолоджуйтеся смаком протягом дня без зайвих зусиль!
							.banner-text__buttons
								a.butn.butn_wh(href='#order' data-toggle="modal") замовити
								a.butn.butn_transp(href='#price' data-toggle="modal") наші ціни
					.col-sm-3.col-md-5._h-mob
						.banner-img
							img.banner-img__main.jsAppendRight(src='img/img-banner.png' alt='')
							img.banner-img__move.jsAppendRight.cssMove(src='img/img-banner-moved.png' alt='')
	section#about
		.bg-about.jsAppendLeft
			img(src='img/bg-about.png' alt='')
		.container
			.row
				.col-xs-5.col-md-6.about-img
					img.about-img__main.jsAppendLeft(src='img/img-about.png' alt='')
					img.about-img__moved.jsAppendLeft.cssMove(src='img/img-about-moved.png' alt='')
				.col-xs-7.col-md-6
					.section-title Про Broccoli
					.text
						p Проект “Broccoli” створений для людей, які ведуть та прагнуть вести здоровий спосіб життя, для професійніх спортсменів та людей які не хочуть витрачати свій час на походи у магазин та приготування їжі. З нами ви отримаєте не тільке готові набори харчування протягом дня, але й мотивацію і підтримку від наших спеціалістів.
					.about-butn-holder
						a.butn(href='#order' data-toggle="modal") спробувати зараз
	section#benefits
		.bg-benefits.jsAppendRight
			img(src='img/bg-benefits.png' alt='')
		.container
			.row
				.col-sm-7.col-md-6
					.section-title Наші переваги
					ul.benefits-list
						li
							.icon-benefit.icon-benefit_1
							span Меню і таблиця калорійності  розроблено дієтологом спільно з кухарем та фітнес тренером
						li
							.icon-benefit.icon-benefit_2
							span Правильне харчування протягом дня без зайвих зусиль
						li
							.icon-benefit.icon-benefit_3
							span Різноманітне меню та постійне оновлення
						li
							.icon-benefit.icon-benefit_4
							span Тількі свіжі і якісні продукти
						li
							.icon-benefit.icon-benefit_5
							span Професіний підхід
				.col-sm-5.col-md-6._h-mob
					.benefits__img
						img.benefits__img-main.jsAppendRight(src='img/img-benefits.png' alt='')
						img.benefits__img-moved.jsAppendRight.cssMove(src='img/img-benefits-moved.png' alt='')
	section#howitworks
		.bg-howitworks.bg-howitworks_left.jsAppendLeft._h-tab
			img(src='img/bg-howitworks-left.png' alt='')
		.bg-howitworks.bg-howitworks_right.jsAppendRight._h-tab
			img(src='img/bg-howitworks-right.png' alt='')
		.container
			.section-title._c-wh.text-center  Як це працює
			.row
				.col-xs-6.col-md-3
					.how
						.how__icon
							img(src='img/icon-how1.svg' alt='')
						.how__title етап 1
						.how__text Ви обераєте необхідну програму  за допомогою он-лайн калькулятора або консультацією у дієтолога
				.col-xs-6.col-md-3
					.how
						.how__icon
							img(src='img/icon-how2.svg' alt='')
						.how__title етап 2
						.how__text Ми готуємо для вас
				.col-xs-6.col-md-3
					.how
						.how__icon
							img(src='img/icon-how3.svg' alt='')
						.how__title етап 3
						.how__text Доставляємо замовлення у зручний для вас час і місце
				.col-xs-6.col-md-3
					.how
						.how__icon
							img(src='img/icon-how4.svg' alt='')
						.how__title етап 4
						.how__text Ви харчуєтеся правильно та смачно впродовж дня
	section#calc-section
		.bg-calc-section.jsAppendRight
			img(src='img/img-calc-move-on-start.png' alt='')
		.container
			.row
				.col-md-8
					.section-title Онлайн калькулятор калорій
					.text.text_fz20
						p Розрахунок денної норми калорій визначається за допомогою таких показників як вага, зріст, вік та активність. Пам’ятайте, що кожна людина індивідуальна і кожна формула може мати похибку.
					#calc
						.row
							.col-md-6
								.input-row#sex
									.input-title Ваша стать
									select
										option(value='-161') Жіноча
										option(value='5') Чоловіча
							.col-md-6
								.input-row#goal
									.input-title Ціль
									select
										option(value='1') Підтримка ваги
										option(value='0.85') Зниження ваги
										option(value='1.1') Набір ваги
							.col-md-6
								.row.input-row
									.col-xs-4
										.input-title  Вік
										input#age.calc-input.jsNumberOnly(type='number' placeholder='років' min="5" max="267")
									.col-xs-4
										.input-title  Ріст
										input#height.calc-input.jsNumberOnly(type='number' placeholder='см' min="74" max="271")
									.col-xs-4
										.input-title  Вага
										input#weight.calc-input.jsNumberOnly(type='number' placeholder='кг' min="30" max="175")
							.col-md-6
								.input-row#activity
									.input-title Активність
									select
										option(value='1.2') Сидячий спосіб життя (мінімальна активність протягом дня)
										option(value='1.3') Тренування 2-3 рази в тиждень
										option(value='1.45') Тренування 4-5 раз в тиждень
										option(value='1.6') Інтенсивні тренування 4-5 раз в тиждень
										option(value='1.8') Інтенсивні тренування щодня
										option(value='1.9') Важкі фізичні навантаження щодня (професійні спортсмени)
							.col-md-12
								.butn-row
									button.butn#jsCalc розрахувати
				.col-md-4
					.calc-img
						img.calc-img__main.jsAppendRight(src='img/img-calc.png' alt='')
						img.calc-img__moved.jsAppendRight.cssMove(src='img/img-calc-moved.png' alt='')
	section#programms
		.bg-programms.bg-programms_left.jsAppendLeft
			img(src='img/bg-programms-left.png' alt='')
		.bg-programms.bg-programms_right.jsAppendRight._h-tab
			img(src='img/bg-programms-right.png' alt='')
		.container
			.section-title.text-center Програми харчування
			.row.programms-wrap
				.col-md-6
					.programm
						.programm__icon
							img(src='img/icon-programm-weight-loss.svg' alt='')
						.programm__title Схуднення
						.programm__text
							p Збалансоване харчування для зниження ваги тіла.
							p Дозволяє досягнути бажаного результат за короткий термін. Рекомендується на недовгий період часу.
						.programm__label-holder
							.programm__label 1200 калл
						.programm__text
							p Підходить для поступового і комфортного зниження ваги, без постійного відчуття голоду.
						.programm__label-holder
							.programm__label 1400 калл
							.programm__label 1600 калл
					.programm
						.programm__icon
							img(src='img/icon-programm-idividual.svg' alt='')
						.programm__title індивідуальна
						.programm__text
							p Збалансоване харчування для підтримки ваги тіла спортсменів з досвідом, а також підходить для якісного набору ваги тіла без зайвого жиру початківцям.
						.programm__label-holder
							.programm__label 2700 калл
							.programm__label 3100 калл
				.col-md-6
					.programm
						.programm__icon
							img(src='img/icon-programm-balance.svg' alt='')
						.programm__title баланс
						.programm__text
							p Розраховане для тих хто уже досягнув результатіві прагне підтримувати їх. Покращує обмін речовин та самопочуття, і стимулює роботу всього організма.
						.programm__label-holder
							.programm__label 1600 калл
							.programm__label 1900 калл
							.programm__label 2700 калл
							.programm__label 3100 калл
					.programm
						.programm__icon
							img(src='img/icon-programm-active.svg' alt='')
						.programm__title Актив
						.programm__text
							p Збалансоване харчування для підтримки ваги тіла спортсменів з досвідом, а також підходить для якісного набору ваги тіла без зайвого жиру початківцям.
						.programm__label-holder
							.programm__label 2700 калл
							.programm__label 3100 калл
					.programm
						.programm__icon
							img(src='img/icon-programm-detox.svg' alt='')
						.programm__title детокс
						.programm__text
							p Збалансоване харчування для підтримки ваги тіла спортсменів з досвідом, а також підходить для якісного набору ваги тіла без зайвого жиру початківцям.
						.programm__label-holder
							.programm__label 2700 калл
							.programm__label 3100 калл
			.call-to-action
				.call-to-action__item.call-to-action__text Правильне харчування протягом дня, спеціально розроблене дієтологом та фітнес-тренером!
				.call-to-action__item.call-to-action__butn
					a.butn(href='#order' data-toggle="modal") замовити
				.call-to-action__item.call-to-action__img
					img.call-to-action__img-main.jsAppendRight(src='img/img-call-to-action.png' alt='')
					img.call-to-action__img-moved.jsAppendRight.cssMove(src='img/img-call-to-action-moved.png' alt='')
	section#menu
		.bg-menu.jsAppendRight
			img(src='img/bg-menu.png' alt='')
		.container
			.section-title._c-wh.text-center Наше меню
			.section-subtitle._c-wh.text-center Приблизне  меню на неділю програми Баланс на 1600 калл. Меню не повторюється протягом 3 неділь та постійно оновлююється. Програми відрізняються величиною порції,  кількістю вуглеводів та послідовністю страв впродовж дня.
			.row
				.col-md-7.col-lg-6
					ul.day-tabs
						li.active
							a(data-toggle='tab', href='#day1') 1 день
						li
							a(data-toggle='tab', href='#day2') 2 день
						li
							a(data-toggle='tab', href='#day3') 3 день
						li
							a(data-toggle='tab', href='#day4') 4 день
						li
							a(data-toggle='tab', href='#day5') 5 день
					.tab-content
						#day1.tab-pane.fade.in.active
							.menu
								.menu__title.clearfix
									span.menu__title-item-meal СНІДАНОК
									span.menu__title-item-time з 6.00 до 9.00
								.menu__text Вівсянка з сушеними ягодами годжі та горіхами.
								.menu__title.clearfix
									span.menu__title-item-meal ДРУГИЙ СНІДАНОК
									span.menu__title-item-time з 9.00 до 11.00
								.menu__text Салат з томатами та моцарелою, хлібець.
								.menu__title.clearfix
									span.menu__title-item-meal обід
									span.menu__title-item-time з 11.00 до 14.00
								.menu__text Соба з мясними кульками та овочами.
								.menu__title.clearfix
									span.menu__title-item-meal ПОЛУДЕНОК
									span.menu__title-item-time з 14.00 до 16.00
								.menu__text Творог з запеченим гарбузом, домашній йогурт.
								.menu__title.clearfix
									span.menu__title-item-meal вечеря
									span.menu__title-item-time з 17.00 до 21.00
								.menu__text Теплий овочевий салат та м’ясний рулет.
								.menu__title.clearfix
								.menu__text.menu__text_sum Денний раціон 1288.9 ккал<br>БЖУ 118.52 / 52.81 / 83.86
						#day2.tab-pane.fade
							.menu
								.menu__title.clearfix
									span.menu__title-item-meal СНІДАНОК
									span.menu__title-item-time з 6.00 до 9.00
								.menu__text Вівсянка з сушеними ягодами годжі та горіхами.
								.menu__title.clearfix
									span.menu__title-item-meal ДРУГИЙ СНІДАНОК
									span.menu__title-item-time з 9.00 до 11.00
								.menu__text Салат з томатами та моцарелою, хлібець.
								.menu__title.clearfix
									span.menu__title-item-meal обід
									span.menu__title-item-time з 11.00 до 14.00
								.menu__text Соба з мясними кульками та овочами.
								.menu__title.clearfix
									span.menu__title-item-meal ПОЛУДЕНОК
									span.menu__title-item-time з 14.00 до 16.00
								.menu__text Творог з запеченим гарбузом, домашній йогурт.
								.menu__title.clearfix
									span.menu__title-item-meal вечеря
									span.menu__title-item-time з 17.00 до 21.00
								.menu__text Теплий овочевий салат та м’ясний рулет.
								.menu__title.clearfix
								.menu__text.menu__text_sum Денний раціон 1288.9 ккал<br>БЖУ 118.52 / 52.81 / 83.86
						#day3.tab-pane.fade
							.menu
								.menu__title.clearfix
									span.menu__title-item-meal СНІДАНОК
									span.menu__title-item-time з 6.00 до 9.00
								.menu__text Вівсянка з сушеними ягодами годжі та горіхами.
								.menu__title.clearfix
									span.menu__title-item-meal ДРУГИЙ СНІДАНОК
									span.menu__title-item-time з 9.00 до 11.00
								.menu__text Салат з томатами та моцарелою, хлібець.
								.menu__title.clearfix
									span.menu__title-item-meal обід
									span.menu__title-item-time з 11.00 до 14.00
								.menu__text Соба з мясними кульками та овочами.
								.menu__title.clearfix
									span.menu__title-item-meal ПОЛУДЕНОК
									span.menu__title-item-time з 14.00 до 16.00
								.menu__text Творог з запеченим гарбузом, домашній йогурт.
								.menu__title.clearfix
									span.menu__title-item-meal вечеря
									span.menu__title-item-time з 17.00 до 21.00
								.menu__text Теплий овочевий салат та м’ясний рулет.
								.menu__title.clearfix
								.menu__text.menu__text_sum Денний раціон 1288.9 ккал<br>БЖУ 118.52 / 52.81 / 83.86
						#day4.tab-pane.fade
							.menu
								.menu__title.clearfix
									span.menu__title-item-meal СНІДАНОК
									span.menu__title-item-time з 6.00 до 9.00
								.menu__text Вівсянка з сушеними ягодами годжі та горіхами.
								.menu__title.clearfix
									span.menu__title-item-meal ДРУГИЙ СНІДАНОК
									span.menu__title-item-time з 9.00 до 11.00
								.menu__text Салат з томатами та моцарелою, хлібець.
								.menu__title.clearfix
									span.menu__title-item-meal обід
									span.menu__title-item-time з 11.00 до 14.00
								.menu__text Соба з мясними кульками та овочами.
								.menu__title.clearfix
									span.menu__title-item-meal ПОЛУДЕНОК
									span.menu__title-item-time з 14.00 до 16.00
								.menu__text Творог з запеченим гарбузом, домашній йогурт.
								.menu__title.clearfix
									span.menu__title-item-meal вечеря
									span.menu__title-item-time з 17.00 до 21.00
								.menu__text Теплий овочевий салат та м’ясний рулет.
								.menu__title.clearfix
								.menu__text.menu__text_sum Денний раціон 1288.9 ккал<br>БЖУ 118.52 / 52.81 / 83.86
						#day5.tab-pane.fade
							.menu
								.menu__title.clearfix
									span.menu__title-item-meal СНІДАНОК
									span.menu__title-item-time з 6.00 до 9.00
								.menu__text Вівсянка з сушеними ягодами годжі та горіхами.
								.menu__title.clearfix
									span.menu__title-item-meal ДРУГИЙ СНІДАНОК
									span.menu__title-item-time з 9.00 до 11.00
								.menu__text Салат з томатами та моцарелою, хлібець.
								.menu__title.clearfix
									span.menu__title-item-meal обід
									span.menu__title-item-time з 11.00 до 14.00
								.menu__text Соба з мясними кульками та овочами.
								.menu__title.clearfix
									span.menu__title-item-meal ПОЛУДЕНОК
									span.menu__title-item-time з 14.00 до 16.00
								.menu__text Творог з запеченим гарбузом, домашній йогурт.
								.menu__title.clearfix
									span.menu__title-item-meal вечеря
									span.menu__title-item-time з 17.00 до 21.00
								.menu__text Теплий овочевий салат та м’ясний рулет.
								.menu__title.clearfix
								.menu__text.menu__text_sum Денний раціон 1288.9 ккал<br>БЖУ 118.52 / 52.81 / 83.86

				.col-md-5.col-lg-6._h-tab
					.menu__img.jsAppendUp
						img(src='img/img-menu.png' alt='')
	section#testemonials
		.bg-testemonials.bg-testemonials_left.jsAppendLeft._h-tab
			img(src='img/bg-testemonials-left.png' alt='')
		.bg-testemonials.bg-testemonials_right.jsAppendRight
			img(src='img/bg-testemonials-right.png' alt='')
		.container
			.section-title.text-center  Відгуки клієнтів
			.slider-wrap
				.slider
					.slider__item
						.testemonial
							.circles
								.circle
								.circle
								.circle
								.circle
							.testemonial__info
								.testemonial__title
									.testemonial__name ірина гончар
									.testemonial__date 11.11.2017
								.testemonial__text Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП ...
								a.testemonial__read-more(href='#testemonial1' data-toggle='modal') читати далі
					.slider__item
						.testemonial
							.circles.circles_2
								.circle
								.circle
								.circle
							.testemonial__info
								.testemonial__title
									.testemonial__name ірина гончар
									.testemonial__date 11.11.2017
								.testemonial__text Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП ...
								a.testemonial__read-more(href='#testemonial1' data-toggle='modal') читати далі
					.slider__item
						.testemonial
							.circles
								.circle
								.circle
								.circle
								.circle
							.testemonial__info
								.testemonial__title
									.testemonial__name ірина гончар
									.testemonial__date 11.11.2017
								.testemonial__text Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП ...
								a.testemonial__read-more(href='#testemonial1' data-toggle='modal') читати далі
					.slider__item
						.testemonial
							.circles.circles_2
								.circle
								.circle
								.circle
								.circle
							.testemonial__info
								.testemonial__title
									.testemonial__name ірина гончар
									.testemonial__date 11.11.2017
								.testemonial__text Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП ...
								a.testemonial__read-more(href='#testemonial1' data-toggle='modal') читати далі
			.testemonials-butn
				a.butn(href='#feedback' data-toggle='modal')  залишити відгук
	section#insta
		.text-center.temp
			img(src='img/temp-ins.png' alt='')




