footer
	.container
		.footer-logo-wrap
			a.logo(href='#')
				img(src='img/logo-wh.svg' alt='logo broccoli')
		.footer-links
			.footer-links__item
				.footer-link
					.footer-link__title Адреса
					a.footer-location(href='https://goo.gl/maps/YJkG1q4Ffhw' target='_blank') м. Хмельницький,<br> вул. Проскурівська, 47
			.footer-links__item
				.footer-link
					.footer-link__title Телефон
					a.footer-phone(href='tel:+380989000090') 098 900 00 90
			.footer-links__item
				.footer-link
					.footer-link__title  Соціальні мережі
					a.soc._ins(href='#')
					a.soc._fb(href='#')
					a.soc._yt(href='#thanks' data-toggle='modal')
			.footer-links__item
				.footer-link
					.footer-link__title Розробка сайту:
					a.dd(href='http://deepdesign.com.ua/' target='_blank' )
.areaForLoader
	.preloader
		img(src='img/logo-sm.svg' alt='')
.modals

	#callback.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_sm
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Замовити дзвінок
					.modal-content__subtitle  Заповніть форму заявки для зворотнього зв’язку!
					form#callbackForm(method='POST', onsubmit='return false')
						.modal-input-row
							input.modal-input(type='text', name='name', placeholder='Ваше ім`я')
						.modal-input-row
							input.modal-input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Номер телефону')
						.modal-butn-row
							button.butn(type='submit', data-rel='callbackForm') спробувати зараз
	#order.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_sm
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Спробуйте зараз
					.modal-content__subtitle  Заповніть форму заявки для зворотнього зв’язку!
					form#orderForm(method='POST', onsubmit='return false')
						.modal-input-row
							input.modal-input(type='text', name='name', placeholder='Ваше ім`я')
						.modal-input-row
							input.modal-input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Номер телефону')
						.modal-butn-row
							button.butn(type='submit', data-rel='orderForm') спробувати зараз
	#result.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_sm
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Ваша денна норма
					.resultval <span id='jsVal'></span> калл
	#thanks.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_sm
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Дякуємо!
					.modal-content__subtitle  Ваше повідомлення надіслано. Зв'яжемося в Вами найближчим часом.
	#price.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_xl
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Наші ціни
					.modal-content__subtitle  Меню, розроблене і збалансоване для досягнення максимальних спортивних результатів.
					.modal-content__table-wrap
						table.modal-content__table
							tbody
								tr
									th Період
									th 1200 калл/день
									th 1400 калл/день
									th 1600 калл/день
									th 1900 калл/день
									th 2700 калл/день
									th 3100 калл/день
								tr
									td Чотири неділі
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
								tr
									td Дві неділі
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
								tr
									td Одна неділя
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
								tr
									td День
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
									td 500 грн/д.
					.modal-content__table-text Пробний день будь-якої калорійності: 400 грн/д.
					.modal-content__table-butn
						a.butn(href='#order' data-toggle='modal') замовити
						a.butn.scrolTosec(data-dismiss='modal' href='#calc-section' ) калькулятор
	#feedback.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_xl
			.close-x(role='button', data-dismiss='modal')
			.modal-content
				.modal-content__img
					img(src='img/logo-sm.svg' alt='')
				.modal-content__hiding-content
					.modal-content__title Залиште відгук
					.modal-content__subtitle  Заповніть форму заявки та залишіть свій відгук про Broccoli
					form#feedbackForm(method='POST', onsubmit='return false')
						.row
							.col-md-6
								.modal-input-row
									input.modal-input(type='text', name='name', placeholder='Ваше ім`я')
								.modal-input-row
									input.modal-input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Номер телефону')
								.modal-input-row
									input.modal-input(type='email', name='email',  placeholder='Ваш E-mail')
							.col-md-6
								.modal-input-row
									textarea.modal-input(name='message' placeholder='Ваш відгук')
						.modal-butn-row
							button.butn(type='submit', data-rel='feedbackForm') надіслати відгук
	#testemonial1.modal.fade.popup(role='dialog')
		.modal-dialog.modal-dialog_xl
			.close-x(role='button', data-dismiss='modal')
			.modal-content.modal-content_testemonial
				.modal-content__testemonial-name ірина гончар
				.modal-content__testemonial-date 11.11.2017
				.modal-content__testemonial-text Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП БУВ КРУТИМ – купа овочей. А ще ... сподобались цитрусові в меню, коли їсиш без соусів, вони трохи пом”якшують сухість деяких продуктів. +1 за малу кількість солі і відсутність цукру! Так, спробував сьогодні доставку обідів. Що сподобалось : чітко по калоріям 2200 – те що треба,коли ходиш в зал,щоб зігнати пузіко) СУП ... БУВ КРУТИМ – купа овочей. А ще ... сподобались цитрусові в меню, коли їсиш без соусів, вони трохи пом”якшують сухість деяких продуктів. +1 за малу кількість солі і відсутність цукру!

