#hamburger(role='button')
	.span-wrap
		span
		span
		span
		span
header
	.container
		a.header-logo(href='index.html')
			img(src='img/logo.svg' alt='logo broccoli')
		.header-top
			.header-top__item
				a.location(href='map' target='_blank') м. Хмельницький
			.header-top__item
				a.phone(href='tel:+380989000090') 098 900 00 90
				a.callorder(href='#callback' data-toggle="modal") <span>Замовити дзвінок</span>
		.header-bottom
			ul#nav
				li
					a(href="#about") про нас
				li
					a(href="#benefits") переваги
				li
					a(href="#howitworks") як це працює
				li
					a(href="#calc-section") калькулятор
				li
					a(href="#programms") програми харчування
				li
					a(href="#menu") наше меню
				li
					a(href="#testemonials") відгуки
				li
					a(href="#insta") контакти