/*--== buttons ==--*/
.butn{
    display: inline-block;
    min-width: 230px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(75, 175, 80, 0.55);
    background-color: #4baf50;
    background-image: linear-gradient(to top, rgba(146, 197, 78, 0) 0%, rgba(146, 197, 78, 0.79) 99%, rgba(146, 197, 78, 0.8) 100%);
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: center;
    padding: 19px 18px 17px;
    border: 0;
    @include trans;
    &:focus{
        color: #fff;
    }
    &:hover{
        color: #fff;
        box-shadow: 0 3px 15px rgba(75, 175, 80, 0.75);
        background-color: #1fa426;
        background-image: linear-gradient(to top, rgba(146, 197, 78, 0) 0%, rgba(146, 197, 78, 0.5) 99%, rgba(146, 197, 78, 0.5) 100%);
    }
    &_wh{
        box-shadow: 0 3px 20px rgba(18, 18, 18, 0.1);
        background: #fff;
        border: 2px solid #fff;
        color: #4baf50;
        padding: 18px 16px 14px;
        &:focus{
            color: #4baf50;
        }
        &:hover{
            background: transparent;
            color: #fff;
        }
    }
    &_transp{
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        padding: 18px 16px 14px;
        &:hover, &:focus{
            box-shadow: 0 3px 20px rgba(18, 18, 18, 0.1);
            background: #fff;
            color: #4baf50;
        }
    }
}
/*--== /buttons ==--*/
