main {
    padding-top: 125px;
    overflow-x: hidden;
    @include bp(1199) {
        padding-top: 15px;
    }
}

section {
    position: relative;
}

#banner {
    padding-bottom: 180px;
    @include bp(1199) {
        padding-bottom: 100px;
    }
    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.banner-bg {
    width: 1520px;
    max-width: 100%;
    height: 693px;
    margin-right: auto;
    margin-left: auto;
    background-color: #92c64e;
    background-image: linear-gradient(43deg, rgba(213, 228, 32, 0) 0%, #d5e420 100%);
    position: relative;
    &__img {
        position: absolute;
        top: -10px;
        right: -170px;
    }
    @include bp(767) {
        height: auto;
    }
}

.banner-text {
    left: -45px;
    width: calc(100% + 45px);
    position: relative;
    border-top: 20px solid #4baf50;
    border-left: 20px solid #4baf50;
    border-bottom: 20px solid #4baf50;
    margin-top: 115px;
    padding: 60px 30px 100px;
    &:before, &:after {
        @include pseudo;
        width: 20px;
        height: 95px;
        background-color: #4baf50;
        right: 0;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &__buttons {
        .butn {
            + .butn {
                margin-left: 30px;
            }
        }
        @media (max-width: 600px) {
            .butn {
                display: block;
                width: 320px;
                max-width: 100%;
                margin: 0 auto !important;
                + .butn {
                    margin-top: 30px !important;
                }

            }
        }
    }
    @media(max-width: 1244px) {
        left: 0;
    }
    @include bp(1199) {
        margin-top: 30px;
    }
    @include bp(767) {
        border: 0;
        width: auto;
        padding-top: 30px;
        &:before, &:after {
            display: none;
        }
    }
    @media (max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.banner-title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include bp(1199) {
        font-size: 50px;
    }
    @media (max-width: 600px) {
        font-size: 40px;
    }
    @media (max-width: 425px) {
        font-size: 35px;
    }
    @media (max-width: 380px) {
        font-size: 29px;
    }
}

.banner-subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 50px;
    max-width: 440px;
    @media (max-width: 600px) {
        max-width: 100%;
    }
}

.banner-img {
    position: absolute;
    top: 0;
    &__main {
        position: absolute;
        top: -57px;
        left: -95px;
        @include bp(1199) {
            top: 57px;
            left: -52px;
            width: 570px;
        }
        @include bp(991) {
            width: 470px;
        }
    }
    &__move {
        position: absolute;
        top: 40px;
        left: 198px;
        @include bp(1199) {
            top: 88px;
            left: 0;
            width: 402px;
        }
    }
}

#about {
    padding-bottom: 110px;
    @include bp(767) {
        padding-bottom: 60px;
    }
    @media (max-width: 600px) {

        [class*='col-'] {
            width: 100%;
        }

    }
}

.bg-about {
    position: absolute;
    left: 166px;
    top: 0;
    z-index: 0;
    @include bp(767) {
        display: none;
    }

}

.about-img {
    position: relative;
    &__moved {
        position: absolute;
        top: 180px;
        left: 230px;

    }
    &:before {
        @include pseudo;
        width: 185px;
        height: 69px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22185%22%20height%3D%2269%22%20viewBox%3D%220%200%20185%2069%22%3E%3Cimage%20width%3D%22185%22%20height%3D%2269%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAALkAAABFCAYAAAAW%2FUc%2BAAAPzUlEQVR4Xu1de3xU5Zl%2B3nPmEkISSBC8gK2r1rZAbS1UyMyA0K52ucxMwA3tVrS6VWlrZgKs2nprg7Ve8BIyiVb252rdrq0rqzAzIIXfj4uQmWBF7K6NtZa11kJQbpLQkJyZc867v3dw3BSRTEIIyZmT%2F%2BBcvu95vud8837v%2B37vR8ygFSsqlXnzVhiw%2F2wGLMgARbYEx5Jqfj5NvG2xZ%2FVuC2K0IeU5A1TX6L%2BPiH4IxvywL%2FZMnvNhw7cgA1SXmDUerFylgOpDvliLBTHakPKcAcpz%2FDb8PGAgI3JZfNYn%2FJNA9DiDH672xn%2BRB9htiHnCwEczeUPSP9tkijPjJ9W%2B2I%2FyBL8NMw8Y%2BEjkT22aVtBeUDzWMLC%2F2hd%2FNw%2Bw2xDzhIGP2eSPbqosMtydfjbUt87e4%2Fyt7T%2FPEyVYGObHRL5sW%2BBixcCrADbo5P7WYs%2BKgxbGb0PLAwY%2BJvKGl%2BeMMHTjVhC969BcT980fcVf84AHG6KFGTihC%2FGxrbNKh%2BjtHddN39xpYQ5saBZn4BNFXrNpmqPUVfIQAbNNFd6Fk2PvW5wLG55FGfhEkcsCVHdry4jhh%2BqYEJ78wi6LcmDDsjgD3UY8azdVDF80fdUhi%2FNgw7MwA92KXLDXba2YQIq5gMFrqr3xqIX5sKFZkIGcRF6fCF7H4CdBaAh7YiEL8mBDsjADOYlc7HPTqX0VQEvIF9tuYT5saBZkICeRd8Vd3%2BifYUIhakttCM9cq1mQExuSxRjouciTgW3MmMSqeVH15NV%2FtBgfNhwLMtBjkdc1Bq8nwlSdXAsWe1Z0WJATG5LFGOixyLP4Iy%2FOcBtFQ8pchnrYDv1bTBUWg9NrkX%2FoVvwNgX8d8sZnWYwXG46FGOi1yJc1Bj6rEN1PjJ0hX%2FQWC3FiQ7EYA70WeZaHBxoDxR2lbq3sUPrcDjb3%2FsAXO2wxjmw4g5yBkxa54K9LBBYTcA2IHwiVx58lAg9yXuzuW4iBPhF5fWMgwIQagO4Ne6P%2FZSF%2BbCgWYKBPRP5IsnKIy%2Bw8f1RLwZu7xmCYO50a%2Bv2p0V32jG4BhVgAQp%2BIPMvDc89Vqu%2Bdoy0G4UZWzZl2sMgCCrEAhD4VufjOMdxxO1j5Nsj8dtgTf8kCHNkQBjkDfSryjwJFW2aMDE9du6%2BGa5SRm5sL7WDRIFfJIO%2F%2BKRG5cCIbok1dvx%2BgLxlQbljkXfXbQc6V3f1BysApE7nM4mWJHQ%2BDMJFNZWH1lFVS5sL%2BsxnodwZOmcgFSWTbjBLSHCOKzMN72lxDLyTDYR4c4dpZM25Fqt%2BR2g3mLQOnVORdWY0kgusAPtswjYpFU9a8nbeMD2Lgy7ff6Eyl9swyFW4OT1q9cyC6iKXKRM30zXpmkt0yY6TiLjD7T%2BTJQD0BX9F1x5yFU154byASNIj11y9dP7rOMvaDsNbtcv%2FTgokrWrMNS2XkgTCm9Ul%2FBYPuBFMK4BIQP9FvIu86Cg2JmZ82yDm62hNN9svo2I30CQMPrrtiqLu44H4y6e2QL1r70Cb%2FGW4XtphEyXB57AYRufwfp7SOW76%2Bvr1PGu3mJfLhsWHMZ5N2HEy3NpW5iucD9CAIG8F8HkD9L3IpcaG6zBcAXMwwplV71%2FyuP8iw2%2Bh7Buoa%2FZ9SiJIMbA97YxVScc1Q1Vo2%2Ba2wL35vtkWJiHfdYCNOiRqqMXvTIzGZtNQej6nQm1LwqrZpzudV03gDQAxG%2BnpxXS%2Ff7i9cMDF%2BpP4l%2F9%2BxWz%2FQ7zO5AHYgVQnT9KjpgpttH3pvhnpgPCMmSsMW%2F3mKk9SbPLGdGVE5KAFCS9gTmygfARE9A%2FDus3YXXNU%2Bcp%2BzzTF8HCvm0IXe2BZBIYLs0DDukGfCqz9GDS9NBIqGOlVX1aSVB%2BT9tU2zz3Gycr0BfnGhN%2F7Ksq3BSYrCSRDWhT2xmR9OmlUK4%2BVRLe6NUoW5vjH4DSa%2B2gn1n7%2FnXbm330WeHR6pACACr0%2F4rwRoPEH%2FeZX3xT8PjOGze9EbBjI17h2ln2JTT4cui%2F8pI3onngQrqYOp1lkl7qIznaysZuAcIr6MFb2FDefdRLjcZL5WhF6W3LEAwGMEvinkjT9Wlwz8AzHWgnl52Bf%2F7s8Sc0alYdwD0PrjJQPWNFe6yg5pDQBuYBhfCHvWNJ82kWdJjDQGngbhGmL6ZsgX%2Fc%2FekGs%2FMzAZEE%2FHCKX4XN3lKFhUvvL3svegkPhqgEYeGO6%2Bb2wzjD1jOhcR6KsAPyBpIPWJwHxm3KIofEeVJ746sm3uGNb1q5mQyM7%2BIuTjuaFl5hcmftY4a7gB5xcV3bldJtLTL%2FJkxaVgc4JhGutceuHevzo1sjdeDEzRnopeibmhOI2SY083kTyoE5U8aWjyf5lZGelynblxwcR%2FTWfyporVzxEcpaEpqzZ37etpF3nXzkQaA1eB6KdE5sKq8nh0ILikTsXA2u88OQaObr3EEwDOYBiV4rw4asaYvwR4LCmoDJXHEtlWBpbIk8EFYF4GxvVntbiftY9yOTkxWOnp5dsrh%2BkpbeQ%2Bre0dTJtmliV2%2FAsRSNHpVzddFv2LYJUdaiBWVNXxlCxcB6TIpVOyIN03Cins3WeWuosXEvCKnbJrJbn2DkukMTAXhOcIHOZW%2Fd86Spwu2Vsstnl9U8BLivpm1iMjLXS1AgbUTP43psuW4Fio3CzRNXEV9Y4a%2B6nBzsCjv5l51k2XvvheXTI4h5iXgvGDg%2Bm2WDZ0vyzh%2F4oCWgvwg2jVlx3Pjh%2BwIs%2F4P93GtcRK6wHPJU8Pf3nHSO5QNLtW%2BmCXbW79l8ipy0m%2FAMFwu3meBHeO92RtouJLKpsNrPCqD8onPHK8INOAFXlXQGKPaSntHjCmGKYx107wyk0og%2B0uSRsodA0jcfvJDG6kHY8DKIGarghPXtt2LJ5HkpVlcjqhZLse7%2FqAtcmP%2B7VmUgGMBwk0kRT%2BTlV5fMdgG0C7v90zkPGRE24jk%2B4%2BkG59%2FgxX4WgmdUjIE3%2Bz69NHPwD1NoAuMBSlalH5qndO9PZBMZN3BSB5D6VNO64A0%2FUEfirsja3pnj77joHKQO2WuWcXFqpHJKMxkgjcCeAOEC0Ie6L%2F%2Fkl9zvyya6l6gC9QmG%2Bs8sWbLSVyARNJ%2BK8F6ClJqQx7ovcuQQ1h82YluxgZqANq9%2BtvGZCAjmnSvQxsK0m13f%2FnadNSJU3N7lJtHx%2FvWE1JzpLAj7xFMlmZnCUhT%2FT17ngddDO5AJIvOZVKTTYV420pe1GfDH7LNE29oACrP2mB0h0R9vX%2BYUDGbs%2BEcYdlgVi7ddb5DkV9noENMNIPSAbhiXoRaQr%2BPZl8l0nm3dWe1Rty7fGgFHlXcJKvUJ8MSKrl53Qyxyz2rN6dK3j7vv5lIFOXZ7QmB6tNMlWMP%2Bdd9%2F73z9EuOQL8IZdUjrpE8A4C30OEeWfucr%2BQa7DQGiLfFvwameZFkrV2NLHffSuAjXYQqX9FfLzWMum2oIkw01s7FGdnAfhxUuizB7W2ybmal5LdKO8WE0byx%2FW29ndvvmL9kVzTPga9yI8lNtLonwyiJmKsDPlic%2BW65LAvKl%2FRmSspp18ag7cHXTdESNIUD3PdLLMvGPPDvtgzgkxEm%2BtR9o8kZ492sLKYQL8LeaNP9WabneVELkEkh4vnmIRD4fLoqrrG4KWksJdVPGMfnX7qP55Hk4ELDfBsBr%2F%2BQfnETWc0vTrTYPqGQvQfIU90XU97EEkGLgFDsgpl99HXevq83G85kR9rr0cSgSVEuJOAH4a8saW9Icl%2B5sQMRBIVF%2Bjk%2FCATmGkMVIFQD%2BDhkCeWOZzhZH5BJdCj6M5JrNB7uXhSjtdTS4tcAC%2FbFriYdFxCDseG8OQXdtUlAg%2BAeQyR%2BqOwd9X%2F2gLuOQNdTZL6ZPALLJmjQLI41fbTw%2BqQYlIdU8l0vF41ZeVbPX%2F70SfqEoEaMBTVqdZ1zSjszfssL%2FKP2exH67%2BMB%2FOVYV98m%2BQma0BLLqv73hBstWeOBuNeC8KE9kG6df2wguFjVNN8nkHbDHLdJbO53CP7NXs7g2c2QAxz7gSgK8yzuwv2dMdx3om8YeuciwzSR6XatdfaxwxLlx3S%2FgTgXVWnedm85O5Iy7frj74UPNdU%2BUw5jftotFE7BGB%2FyBMbJUIWu%2FngMHfzyVZGExdj1i1Ylwx6iI0iNTUkebKb3fNO5F0FKjvFtRSeBSsHoKaqtVbDcBcVLCdwUnKWJW2zK%2FH5IG7xXix5o9KZFawEbFRFjQAYoabcl2tuGCprQQWcDnnjz%2FcVJ8Jzy2jNqwDfVBzqXSdronTtV16L%2FNhFakMicDYTdgHY7HbzbLne2alMcxh4PV9OzvgwL%2BQ2EH%2BGTV5UUFDQmtK0pQwUE%2BPmkC%2FWIrx0DbH3hdBls4zh6nwCoDkEnhHyxjf2xXst713pKUmZwjXp9y8Dm2kJJGUL1xDh5ZAnNllmuUhT4OuqyX%2FJ2om98dv2tF99fX%2FXYj%2Byo77MWXwrFBqe0nip20kuEH7FwFlE9I%2Fi0ZBd9kMcaTpROuvJ9jHDbcJ%2FrgSO1LR7%2FcmaKPZMnuOISOK%2B00W3KET%2FHfJEfymeGsXAFhA2hD2xK0UsqtIxxmU4W6WITY6v7ffbREA%2F3zzNLQlQkjMinguFaajh4IcOTfryvrLkDvFDf9o0ad7CKdGXM3ndpY7iwvYjh3IN2vQVqFNhHtrmSg6jk3WZyQJMd%2FLtCvOBkDd%2B54dZdFJ3%2FaWwNzZNkvgd3BkAuCXsXb3%2BdM3ytU0V56mkHczOvJFEcCVgajoVXCfl2iKJwB9E1KpOn5HFdiTpvwymYhanW1%2Fpb1HnQP9J32KLvAcUitjxRrMjuyiTIAhg3s6MndW%2B2H2Z%2FYZEm8B4J%2ByNjZfSwVCct4O4SKeC8FBXqS51%2FNgkhdrSSVnYiol05PDeodltfWKbpgrSZ7SWOFuy7WQOBE63dUiuR8Z0UHCh2%2BV%2BW3Kw%2F3%2FXFP0x7I1GMrk7RQXvANQe9kbPk0I8I1q1LcwoQmt6grQpla2ktJvsfM81f6QHNA24W22R98GQZHMxMlVencrVDE6HfbGGD236VQA6HKYxXR1SaGqaFs2cvsHG5LN3F%2F7%2B%2FdGpWgb7CfwdWWxFksFrwPguE99d7Yn9uj4ZqATzEhAtD3lidcsSgakKIAeOxcLeWDCzxxHma2D8T9gX%2B2Jmb6SblhNjf8gbWyAf5oim18axDiM8NSrZmpm%2F0%2FUr0wd09%2FgVtsh7TFnPHpDSwmQYpTJrlnUMUXmY40ZiOh8Ox8MSgY0k%2FUsATGUod0gp67qk%2F2YCfZ9MLA35Yo9LvW0w%2FdgEP1ntjdfXba2YQKr5E2ZeK%2F8WN2inhssVRirki6%2FNRxF3NyK2yLtj6BRfF5Hq7coIoz21V0wJMUeK2XB8z7fmkARaMgcBG%2Fq5aZ332pUKejcY%2Fwd%2Bhgo%2FcGeDmAAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E');
        bottom: -30px;
        right: 24px;
    }
    @include bp(1199) {
        &:before {
            display: none;
        }
        img {
            max-width: 100%;

        }
        .about-img__moved {
            left: 89px;
        }

    }
    @media (max-width: 767px) {
        .about-img__moved {
            left: 91px;
            top: 130px;
            width: 150px;
        }
    }
    @media (max-width: 600px) {
        position: static;
        text-align: center;
        padding-bottom: 30px;
        img {
            width: 260px;
        }
        .about-img__moved {
            display: none;
        }
    }

}

.about-butn-holder {
    @media (max-width: 600px) {
        text-align: center;
    }
}

.section-title {
    color: #333;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    position: relative;
    z-index: 1;
    @media (max-width: 600px) {
        text-align: center;
        margin-bottom: 30px;
        font-size: 45px;
    }
    @media (max-width: 380px) {
        font-size: 35px;
    }
}

.text {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 45px;
    position: relative;
    z-index: 1;
    &_fz20 {
        font-size: 20px;
    }
}

#benefits {
    padding-top: 100px;
    padding-bottom: 107px;
    background: #fff;
    @include bp(767) {
        padding: 60px 0;
        .section-title {
            text-align: center;
        }
    }
}

.bg-benefits {
    position: absolute;
    top: 136px;
    right: 165px;
    z-index: 0;
}

.benefits-list {
    list-style: none;
    li {
        position: relative;
        padding-left: 100px;
        height: 62px;
        line-height: 1.8;
        margin-bottom: 20px;
        cursor: default;
        span {
            display: block;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    @include bp(991) {
        li {
            height: auto;
            min-height: 62px;
            span {
                position: static;
                top: 0;
                transform: translateY(0);

            }
        }
    }
    @include bp(767) {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }

}

.icon-benefit {
    position: absolute;
    width: 62px;
    height: 62px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
}

.icon-benefit_1 {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%2222%20148.8%20369.3%20496%22%3E%3Cstyle%3E.st0%7Bfill%3A%2392c54e%7D.st1%7Bfill%3A%23333%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M63.2%20236.8h288v368h-288z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M367.3%20196.8h-65.5c-3.3-9.3-12.1-16-22.5-16h-24v-8c0-13.2-10.8-24-24-24h-48c-13.2%200-24%2010.8-24%2024v8h-24c-10.4%200-19.2%206.7-22.5%2016H47.3c-13.2%200-24%2010.8-24%2024v400c0%2013.2%2010.8%2024%2024%2024h320c13.2%200%2024-10.8%2024-24v-400c0-13.3-10.8-24-24-24zm-240%208c0-4.4%203.6-8%208-8h40v-24c0-4.4%203.6-8%208-8h48c4.4%200%208%203.6%208%208v24h40c4.4%200%208%203.6%208%208v24c0%204.4-3.6%208-8%208h-144c-4.4%200-8-3.6-8-8v-24zm248%20416c0%204.4-3.6%208-8%208h-320c-4.4%200-8-3.6-8-8v-400c0-4.4%203.6-8%208-8h64v16c0%2013.2%2010.8%2024%2024%2024h144c13.2%200%2024-10.8%2024-24v-16h64c4.4%200%208%203.6%208%208v400z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M207.3%20284.8h-104v112h104v-112zm-68%2096c0-8.8%207.2-16%2016-16s16%207.2%2016%2016h-32zm52%200h-4c0-17.6-14.4-32-32-32s-32%2014.4-32%2032h-4v-80h72v80zM239.2%20380.8h64v16h-64zM103.2%20428.8h200v16h-200zM247.2%20548.8h56v16h-56zM103.2%20468.8h200v16h-200zM103.2%20508.8h56v16h-56z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M162.9%20342.8c0-4.2-3.4-7.6-7.6-7.6-4.2%200-7.6%203.4-7.6%207.6s3.4%207.6%207.6%207.6c4.2%200%207.6-3.4%207.6-7.6zm-7.6%201.5c-.8%200-1.5-.7-1.5-1.5s.7-1.5%201.5-1.5%201.5.7%201.5%201.5-.7%201.5-1.5%201.5zM175.2%20508.8h16v16h-16zM207.2%20508.8h16v16h-16z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-benefit_2 {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20202.5%20239.3%22%3E%3Cstyle%3E.st0%7Bfill%3A%2392c54e%7D.st1%7Bfill%3A%23333%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M168.8%20107.5c0%2029-23.5%2052.5-52.5%2052.5s-52.5-23.5-52.5-52.5S87.3%2055%20116.3%2055s52.5%2023.5%2052.5%2052.5zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M194.1%2021.3c-26.3%200-52.1-5-76.5-14.7l-1.3-.6-1.4.6c-24.4%209.8-50.2%2014.7-76.5%2014.7H30V100H11.3C5%20100%200%20105.1%200%20111.3V175c0%206.2%205%2011.3%2011.3%2011.3H45c8.9%2014.1%2021.1%2025.7%2035.8%2033.7l35.5%2019.3%2035.5-19.3c31.3-17.1%2050.8-49.9%2050.8-85.5V21.3h-8.5zM7.5%20175v-63.7c0-2.1%201.7-3.8%203.8-3.8H45c2.1%200%203.7%201.7%203.7%203.8V175c0%202.1-1.7%203.8-3.7%203.8H11.3c-2.1%200-3.8-1.7-3.8-3.8zm48.7-56.2c12.5-.7%2022.5-11.1%2022.5-23.8V75.7c0-5.2%204.2-9.4%209.4-9.4s9.4%204.2%209.4%209.4v23.6c0%206.6%205.4%2012%2012%2012H137c7.2%200%2013%205.8%2013%2013v41.5c0%207.2-5.8%2013-13%2013H81.8c-3%200-5.7-1.5-7.4-4-3-4.6-8.1-7.3-13.6-7.3h-4.5v-48.7zM195%20134.4c0%2032.9-18%2063.2-46.9%2079l-31.9%2017.4-31.9-17.4c-13-7.1-24.1-17.4-32.2-29.8%202.3-1.9%203.8-4.7%204-7.8%207.6%2013.1%2018.5%2023.8%2031.8%2031l28.3%2015.4%2028.3-15.4c26.5-14.5%2043-42.2%2043-72.4V77.5H180v56.9c0%2027.4-15%2052.7-39.1%2065.8l-24.7%2013.5-24.7-13.5c-10.6-5.8-19.4-13.9-26.1-23.8%201%20.7%202%201.5%202.7%202.6%203%204.6%208.1%207.3%2013.6%207.3H137c11.3%200%2020.5-9.2%2020.5-20.5v-41.5c0-11.3-9.2-20.5-20.5-20.5h-27.5c-2.5%200-4.5-2-4.5-4.5V75.7c0-9.3-7.6-16.9-16.9-16.9s-16.9%207.6-16.9%2016.9V95c0%208.6-6.6%2015.5-15%2016.2%200-3.3-1.5-6.2-3.7-8.2V43.4c21.8-1.3%2043.2-5.8%2063.8-13.3%2020.5%207.5%2042%2011.9%2063.8%2013.3v4.2h7.5V36.2L184%2036c-22.7-1-45-5.6-66.4-13.5l-1.3-.5-1.3.5c-21.4%208-43.7%2012.5-66.4%2013.6l-3.6.1V100h-7.5V28.8h.9c26.8%200%2053-4.9%2077.9-14.7%2024.9%209.8%2051.1%2014.7%2077.9%2014.7h.9l-.1%20105.6zm0%200%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M180%2062.5h7.5V70H180zM15%20163.8h26.3v7.5H15z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-benefit_3 {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-49%20141%20512%20512%22%3E%3Cstyle%3E.st0%7Bfill%3A%2392c54e%7D.st1%7Bfill%3A%23333%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M335.3%20516.8c-22.1%200-40-17.9-40-40v-8c0-13.2-10.8-24-24-24s-24%2010.8-24%2024v8c0%2022.1-17.9%2040-40%2040s-40-17.9-40-40v-8c0-13.2-10.8-24-24-24s-24%2010.8-24%2024v8c0%2022.1-17.9%2040-40%2040s-40-17.9-40-40v-8c0-13.2-10.8-24-24-24s-24%2010.8-24%2024h-16c0-22.1%2017.9-40%2040-40s40%2017.9%2040%2040v8c0%2013.2%2010.8%2024%2024%2024s24-10.8%2024-24v-8c0-22.1%2017.9-40%2040-40s40%2017.9%2040%2040v8c0%2013.2%2010.8%2024%2024%2024s24-10.8%2024-24v-8c0-22.1%2017.9-40%2040-40s40%2017.9%2040%2040v8c0%2013.2%2010.8%2024%2024%2024s24-10.8%2024-24v-8c0-22.1%2017.9-40%2040-40s40%2017.9%2040%2040h-16c0-13.2-10.8-24-24-24s-24%2010.8-24%2024v8c0%2022-18%2040-40%2040zM369.8%20348.8c3.5-8.3%205.5-17.2%205.5-26.4v-1.9c0-37.4-30.3-67.7-67.7-67.7-22.6%200-43.8%2011.3-56.4%2030.2l-43.9%2065.8h162.5z%22%2F%3E%3Cg%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M380.8%20340.8c1.6-6.1%202.4-12.2%202.4-18.4v-1.8c0-19.7-7.6-37.6-20-51.1%2014.4-9.2%2033.8-7.5%2046.3%205l8%208%2011.3-11.3-8-8c-10.2-10.2-23.7-15.4-37.1-15.5l5.1-5.1c14.5-14.5%2038.2-14.5%2052.7%200l11.3-11.3c-10.2-10.2-23.7-15.4-37.1-15.6l5.1-5.1c7.9-7.9%2012.3-18.5%2012.3-29.7s-4.4-21.7-12.3-29.7l-11.3%2011.3c4.9%204.9%207.6%2011.4%207.6%2018.3s-2.7%2013.4-7.6%2018.3l-5.1%205.1c-.1-13.5-5.3-26.9-15.5-37.1l-8-8-11.3%2011.3%208%208c14.5%2014.5%2014.5%2038.2%200%2052.7l-5.1%205.1c-.1-13.5-5.3-26.9-15.5-37.1l-8-8-11.3%2011.3%208%208c12.9%2012.9%2014.3%2032.9%204.3%2047.4-12.1-8.2-26.7-13-42.4-13-25.4%200-48.9%2012.6-63%2033.7L203%20340.8h-11.7v-32.5c28.6-3.4%2048-25.2%2048-55.5%200-17.5-7.3-28-13.2-33.7%202.6-5%205.2-12.4%205.2-22.3%200-26.9-21.1-48-48-48s-48%2021.1-48%2048c0%209.9%202.6%2017.3%205.2%2022.3-5.9%205.7-13.2%2016.3-13.2%2033.7%200%2030.2%2019.4%2052%2048%2055.5v32.5h-7.8c-7.7-12.5-18.6-21.7-19.1-22.1l-5.2-4.3-5.1%204.4c-.2.1-1.3%201.2-3%202.8-2.1-21.8-24.1-40.7-26.7-42.9l-5.1-4.2-5.1%204.2c-.5.4-1.6%201.4-3.1%202.8-2.2-21.7-24.1-40.6-26.7-42.8l-5.2-4.3-5.1%204.4c-1.5%201.2-9%207.9-15.7%2017.3-2.1-5.5-4.3-7.7-5.5-8.9-16.4-16.4-56.8-18.2-61.4-18.3l-8.6-.3.4%208.6c.2%204.6%202.4%2045.4%2018.3%2061.3%202%202%205%203.7%209.1%205-9.6%206.8-16.4%2014.7-17.6%2016.2l-4.2%205.1%204.2%205.1c.9%201.1%204.9%205.8%2010.9%2010.9h-28.7v40c0%2083.5%2042.6%20161.6%20112%20207.3v56.7h272V588c69.4-45.7%20112-123.8%20112-207.3v-40h-74.5v.1zm-237.5-88c0-18.2%2011-24.5%2011.7-24.9%202.2-1.1%203.7-3.3%204.2-5.7.4-2.5-.4-5.1-2.1-6.9-.2-.3-5.7-6.3-5.7-18.4%200-15.5%2011.2-32%2032-32s32%2016.5%2032%2032c0%2012.2-5.5%2018.2-5.7%2018.3-1.8%201.8-2.6%204.3-2.2%206.8s2%204.7%204.2%205.9c.5.3%2011.7%206.5%2011.7%2024.9%200%2025.3-15.8%2036.6-32%2039.3v-23.3h-16v23.3c-16.3-2.7-32.1-14-32.1-39.3zm114.5%2034.6l1.8-2.4c26.3%202.5%2051.8%2026.6%2061.8%2037.2l11.6-11c-12.1-12.9-34.2-32.8-59.6-39.9%209.8-6.8%2021.6-10.6%2034-10.6%2032.9%200%2059.7%2026.8%2059.7%2059.8v1.8c0%206.2-1%2012.4-3%2018.4h-41.5c-16.2-17.6-39.1-33.6-56.9-39.6l-5.1%2015.2c11.6%203.9%2026.4%2013.3%2039.1%2024.4h-77.6l35.7-53.3zm-114.5%2048.4c1.4%201.4%202.9%203.1%204.5%204.9H139c1.5-1.8%203-3.5%204.3-4.9zm-40-40.1c6.8%207%2016%2018.7%2016%2029.1%200%204.6-1.9%2010.1-5.6%2016H92.9c-3.7-5.9-5.6-11.4-5.6-16%200-10.3%209.1-22.1%2016-29.1zm-39.8%2040.6l4.5%204.5h-9.4c1.8-1.6%203.4-3.1%204.9-4.5zm-.2-80.5c6.8%207%2015.9%2018.7%2015.9%2029%200%2010.1-8.8%2021.6-15.6%2028.7-1.4-1.4-2.9-2.8-4.7-4.4-5.8-6.8-11.5-15.7-11.5-24%20.1-10.3%209.1-22.2%2015.9-29.3zM-16%20245.4c14.9%201.5%2034.3%205.7%2041.6%2013%201.7%201.7%204.2%208.3%205.2%2022.5L12.9%20263%201.6%20274.4l17%2017C2.5%20290-1.9%20288-3.1%20287.1c-7.1-7.2-11.3-26.7-12.9-41.7zm10.2%2079.4c7-6.9%2018.7-16%2029.1-16%208.3%200%2017.4%205.9%2024.4%2011.8%201.5%201.7%202.9%203.2%204.3%204.6-7%206.8-18.5%2015.6-28.6%2015.6-10.4%200-22.2-9.2-29.2-16zm330.6%20256h-13.5v16h16v32h-240v-32h208v-16H89.8c-68.4-40.3-111.5-113.1-114.2-192h431.7v-16h-432v-16h464v16h-16v16H439c-2.8%2078.9-45.9%20151.7-114.2%20192z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M175.2%20196.8h16v56h-16z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.icon-benefit_4 {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-431%20157.7%20545%20500.5%22%3E%3Cstyle%3E.st0%7Bfill%3A%23333%7D.st1%7Bfill%3A%2392c54e%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-155.3%20337.1c-9.9-26.5-19.7-67.7-19.7-75.4%200-60.3-40.4-104-96-104s-96%2043.7-96%20104c0%2011-7.1%2060.2-29.7%2093-24.7%2035.9-34.3%2063.7-34.3%2099C-431%20538-362%20624-257%20613m-158-159.3c0-32.2%208.5-56.6%2031.5-89.9%2024.5-35.6%2032.5-88%2032.5-102.1%200-51%2033.6-88%2080-88s80%2037%2080%2088c0%2014.1%209.1%2068.1%2033.6%20103.7%2023%2033.4%2030.4%2056.1%2030.4%2088.3%200%2079.4-61.9%20144-141.3%20144S-415%20533.1-415%20453.7zM-257%20613c81.7-7.1%20146-75.8%20146-159.3%200-35.4-9.6-63.1-34.3-99-3.8-5.5-7.1-11.4-10-17.5%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M-271%20578c-70.6%200-128-57.4-128-128%200-28.6%207.8-50.5%2028.7-80.9C-343.4%20330-335%20274-335%20258c0-42.4%2026.3-72%2064-72s64%2029.6%2064%2072c0%2016%208.4%2072%2035.3%20111.1%2020.9%2030.4%2028.7%2052.3%2028.7%2080.9%200%2070.6-57.4%20128-128%20128z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-191%20450c0-44.1-35.9-80-80-80s-80%2035.9-80%2080%2035.9%2080%2080%2080%2080-35.9%2080-80zm-144%200c0-35.3%2028.7-64%2064-64s64%2028.7%2064%2064-28.7%2064-64%2064-64-28.7-64-64z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-223%20450h-16c0%2017.6-14.4%2032-32%2032v16c26.5%200%2048-21.5%2048-48zM114%20344.6l-9.3-2.7c-17.7-5.2-43.1-.4-60.5%206.4.5-1.1%201.2-2.2%201.6-3.3%207.7-19%206-48.4.5-66.3l-2.9-9.5-8.6%204.9c-16.4%209.3-37.7%2028.2-45.7%2047.9-.5%201.1-.8%202.4-1.2%203.5-7.9-17.5-22.6-38-39-46.7l-8.6-4.5-2.8%209.3c-3.8%2012.4-7.1%2036-3.2%2055.3-10%20.5-18.6%203-32.5%208.9-19.9%208.4-34.1%2025.5-37.9%2045.6l15.7%207.1c2.8-14.9%2013.5-31.7%2028.5-38%2014.2-6%2021.3-7.9%2031.7-7.7%208.8%2018.4%2021.3%2031.7%2035.6%2037.4l7.4%203%203-7.4c.4-1%20.9-2.3%201.4-3.7.5%201.7%201.1%203.4%201.7%204.9l3.1%207.4%207.4-3.1c1.5-.6%203.1-1.5%204.6-2.4-.6%201.3-1.1%202.6-1.6%203.6l-3%207.4%207.4%203c14.3%205.8%2032.5%204.9%2051.6-2.2%208.5%208.4%2013.5%2018.6%2017.4%2027.6%2011.9%2027.8%2011%2063.1-2.3%2089.9C53.6%20560.5.2%20608.9-48%20630.5c-28.5%2012.9-52.8%2015.1-68.1%206.2-14.5-8.4-23.1-16.9-27.3-26.6-5.8-13.6-8.6-30.2-9.4-55.5l-15.8%206.1c.7%2019.3%202.2%2036.1%2010.5%2055.7%205.6%2013.1%2016.4%2024%2034%2034.2%2019.3%2011.2%2046.5%209.9%2078.7-3.7%201.3-.6%202.6-1.1%204-1.7%2052-23.3%20107.6-74%20129.4-117.7%2015.3-30.9%2016.4-71.4%202.7-103.4-4-9.2-9.1-19.5-17.3-28.9%2015.6-10.8%2030-29.7%2036.3-42l4.3-8.6zm-140%2028.6c-8.5-6.1-16-16.2-21.6-29.5-4.8-11.3-4.4-30-2-44.3%209.9%209%2019%2023.1%2024.1%2035%205.4%2012.8%202.5%2028.6-.5%2038.8zM3.9%20328c5-12.3%2017.4-25.2%2029.6-34%202.5%2014.7%202.3%2033.2-2.5%2045-5.3%2013.1-18.5%2027.3-30%2035.1-2.8-13.6-2.4-33.1%202.9-46.1zm53.3%2058.2c-13.3%205.6-25.8%207.7-36.1%206.2%204.9-9.4%2013.8-22.8%2026.7-28.2%2011.6-4.9%2028.2-8.7%2041.6-8.3-8.2%2011.7-20.9%2025.5-32.2%2030.3z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%20-67.676%20604.128)%22%20class%3D%22st0%22%20d%3D%22M-75.7%20596.1h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%20-86.654%20620.856)%22%20class%3D%22st0%22%20d%3D%22M-94.7%20612.9h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%20-19.234%20574.916)%22%20class%3D%22st0%22%20d%3D%22M-27.2%20566.9h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%20.868%20540.335)%22%20class%3D%22st0%22%20d%3D%22M-7.1%20532.3h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%2033.454%20535.218)%22%20class%3D%22st0%22%20d%3D%22M25.5%20527.2h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%2050.435%20493.27)%22%20class%3D%22st0%22%20d%3D%22M42.4%20485.3h16v16h-16z%22%2F%3E%3Cpath%20transform%3D%22rotate(-22.96%20-118.114%20608.12)%22%20class%3D%22st0%22%20d%3D%22M-126.1%20600.1h16v16h-16z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-benefit_5 {
    background-image: url('data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-49%20141%20512%20512%22%3E%3Cstyle%3E.st0%7Bfill%3A%2392c54e%7D.st1%7Bfill%3A%23333%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M206.8%20277c-35.3%200-64-28.7-64-64s28.7-64%2064-64%2064%2028.7%2064%2064-28.7%2064-64%2064z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M422%20281.4c-42.6-44.6-113.1-48.5-160.4-9l-54.7%2045.8-54.7-45.8c-47.3-39.5-117.7-35.6-160.4%209-22.7%2023.7-34.6%2056.2-32.8%2089%201.8%2032.8%2017.3%2063.7%2042.4%2084.7l24.2%2020.2c-5%2011.7-4.1%2025.5%203.7%2035.8%206%207.8%2014.6%2012.8%2024.3%2013.8%202.3.3%204.7.3%207%20.1-.2%201.6-.3%203.3-.3%205%20.2%2010.8%205.2%2020.9%2013.8%2027.7%207.1%205.6%2016%207.9%2024.8%207.1-.2%201.7-.3%203.4-.3%205.2.2%2010.8%205.2%2020.9%2013.8%2027.7%207.1%205.6%2016%208%2024.8%207.1-.2%201.7-.3%203.4-.3%205.2.2%2010.8%205.2%2020.9%2013.8%2027.7%206.2%204.9%2013.7%207.3%2021.4%207.3%208.4%200%2016.9-2.9%2023.8-8.7l3.1-2.6c6.7%206.1%2015.2%209.2%2023.7%209.1%208.8%200%2017.6-3.2%2024.4-9.7%207.1-6.8%2011.2-16.4%2011.1-26.2%200-.9-.2-1.7-.3-2.6%201.6.2%203.2.4%204.9.4%208.8%200%2017.6-3.2%2024.4-9.7%207.1-6.8%2011.2-16.3%2011.1-26.2%200-.9-.2-1.8-.3-2.6%201.6.2%203.3.4%204.9.4%208.8%200%2017.6-3.2%2024.4-9.7%207.1-6.8%2011.2-16.3%2011.1-26.2%200-.9-.2-1.8-.3-2.6%201.6.2%203.2.4%204.9.4%208.8%200%2017.6-3.2%2024.4-9.7%207.1-6.8%2011.2-16.4%2011.1-26.2%200-2.6-.4-5.2-1-7.7.1-.1.2-.1.3-.2l34.8-29.5c25.1-21%2040.6-51.9%2042.4-84.7%201.6-33-10.3-65.4-33-89.1zM11.7%20442.9c-22.1-18.4-35.1-44.5-36.7-73.4-1.6-28.9%208.5-56.2%2028.4-77.1%2036.8-38.5%2097.7-41.9%20138.5-7.8l130.3%20108.9c4.3%203.6%206.8%208.7%207.1%2014.3s-1.6%2010.9-5.5%2015c-7.1%207.4-18.5%208.2-26.5%201.7l-59-47.5c-3.4-2.8-8.5-2.2-11.2%201.2v.1l-.1-.1c-9.8%2012.4-24.3%2019.4-40%2019.4-28.2%200-51.1-23.1-51.1-51.5h-16c0%2025%2013.6%2046.7%2033.6%2058.4L35.9%20461c-.4.3-.7.7-1.1%201.1l-23.1-19.2zm148.8%20182.3c-4.8-3.8-7.6-9.4-7.7-15.3-.1-6%202.5-11.6%207.1-15.5l4.3-3.6c1.2%208.1%204.9%2015.7%2011%2021.3l11.8%2010.8-1.5%201.2c-7.5%206.2-18%206.6-25%201.1zm75.4-3.6c-7.4%207-19%207.1-26.5.2L186%20600.3c-4.1-3.7-6.3-8.8-6.4-14.4%200-5.5%202.1-10.7%206.1-14.5%203.7-3.5%208.5-5.3%2013.4-5.3%204.7%200%209.4%201.7%2013.1%205.1l7.7%207.1%2015.8%2014.5c4%203.7%206.3%208.8%206.3%2014.4.1%205.4-2.1%2010.6-6.1%2014.4zm40.1-38.1c-7.4%207-19%207.1-26.5.2l-2.9-2.7-.1-.1-20.5-18.8c-4.1-3.7-6.3-8.8-6.4-14.4s2.1-10.7%206.1-14.5c3.7-3.5%208.5-5.3%2013.4-5.3%204.7%200%209.4%201.7%2013.1%205.1l23.4%2021.6c4.1%203.7%206.3%208.8%206.4%2014.4.2%205.5-2%2010.7-6%2014.5zm40.1-38.2c-7.4%207-19%207.1-26.5.2L266.1%20524c-4.1-3.7-6.3-8.8-6.4-14.4%200-5.6%202.1-10.7%206.1-14.5%203.7-3.5%208.5-5.3%2013.4-5.3%204.7%200%209.4%201.7%2013.1%205.1l17.1%2015.7%206.4%205.9c4%203.7%206.3%208.8%206.3%2014.4.1%205.5-2%2010.6-6%2014.4zm40.1-38.1c-7.4%207-19%207.1-26.5.2l-3-2.7-.1-.1-18.2-16.7-2.2-2c-4.1-3.7-6.3-8.8-6.4-14.4%200-5.5%202.1-10.7%206.1-14.5%203.7-3.5%208.5-5.3%2013.4-5.3%204.7%200%209.4%201.7%2013.1%205.1l23.4%2021.6c4.1%203.7%206.3%208.8%206.4%2014.4s-2%2010.6-6%2014.4zm82.6-137.7c-1.6%2028.8-14.6%2054.9-36.8%2073.4l-32%2027.3c-1-1.2-2-2.5-3.2-3.6L343.3%20445c-13.7-12.6-34.9-12.4-48.3.4-7.1%206.8-11.2%2016.3-11.1%2026.2%200%20.9.2%201.7.3%202.6-10.4-1.4-21.2%201.6-29.3%209.3-7.1%206.8-11.2%2016.4-11.1%2026.2%200%20.9.2%201.7.3%202.6-10.4-1.4-21.2%201.6-29.3%209.3-7.1%206.8-11.2%2016.4-11.1%2026.2%200%20.9.2%201.7.3%202.6-10.4-1.4-21.2%201.6-29.3%209.3-2.1%202-3.8%204.3-5.4%206.7-1%20.3-2%20.8-2.9%201.5L149.6%20582l-2.4%202c-7.4%206.2-17.9%206.6-25%201.1-4.8-3.8-7.6-9.4-7.6-15.3-.1-6%202.5-11.6%207-15.5l83.2-69.6-10.3-12.3-83.2%2069.6-2.4%202c-7.4%206.2-17.9%206.6-25%201.1-4.8-3.8-7.6-9.4-7.7-15.4s2.5-11.6%207-15.4l84.4-70.6-10.3-12.3L73.1%20502l-3.1%202.6c-4.1%203.4-9.3%205-14.6%204.4-5.3-.6-10.1-3.3-13.4-7.6-6.3-8.3-4.4-20.8%204.2-28l74-61.9c5.4%201.4%2011%202.2%2016.7%202.2%2017.9%200%2034.6-7%2047.1-19.5l53.1%2042.8c14.5%2011.7%2035.2%2010.4%2048.1-3.1%206.9-7.2%2010.5-17%209.9-26.9-.6-9.9-5.2-19.3-12.8-25.7l-63.1-52.7%2052.5-43.9c40.8-34.2%20101.7-30.7%20138.5%207.8%2020.2%2020.8%2030.2%2048.1%2028.6%2077zM303.8%20213.1l.8-16c-1.5-.1-3-.1-4.4-.1h-12.9v16h12.9c1.2%200%202.4%200%203.6.1zM340.4%20207.4c-5.4-3.1-11.3-5.5-17.3-7.2l-4.4%2015.4c4.8%201.4%209.5%203.4%2013.9%205.8l7.8-14z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M367.9%20232.4c-3.6-5.1-7.7-9.8-12.4-14l-10.7%2011.9c3.7%203.4%207.1%207.2%2010%2011.3l13.1-9.2zM68.9%20230.2l-10.7-11.9c-4.6%204.2-8.8%208.9-12.4%2014l13.1%209.2c2.9-4.2%206.3-8%2010-11.3zM95.1%20215.6l-4.4-15.4c-6%201.7-11.8%204.2-17.3%207.2l7.8%2014c4.4-2.5%209.1-4.4%2013.9-5.8zM113.5%20213h13v-16h-13c-1.5%200-2.9%200-4.4.1l.9%2016c1.2-.1%202.3-.1%203.5-.1zM225.8%20243.8c-.6%200-1.3-.1-1.8-.5l-16.6-8.7-16.6%208.7c-1.3.7-2.9.6-4.1-.3-1.2-.9-1.8-2.4-1.6-3.8l3.2-18.5-13.4-13.1c-1.1-1-1.5-2.6-1-4s1.7-2.5%203.2-2.7l18.6-2.7%208.3-16.8c.7-1.3%202-2.2%203.5-2.2s2.9.8%203.5%202.2l8.3%2016.8%2018.6%202.7c1.5.2%202.7%201.2%203.2%202.7.5%201.4.1%203-1%204l-13.4%2013.1%203.2%2018.5c.3%201.5-.4%203-1.6%203.8-.9.5-1.7.8-2.5.8zm-18.4-17.5c.6%200%201.3.2%201.8.5l11.4%206-1.6-9.5-.5-3.2c-.2-1.3.2-2.6%201.1-3.5l9.2-9-12.7-1.8c-1.3-.2-2.4-1-3-2.1l-5.7-11.5-5.7%2011.5c-.6%201.2-1.7%202-3%202.1l-12.7%201.8%209.2%209c.9.9%201.3%202.2%201.1%203.5l-2.2%2012.7%2011.4-6c.6-.4%201.2-.5%201.9-.5z%22%2F%3E%3C%2Fsvg%3E');
}

.benefits-list {
    li {
        &:hover {
            .icon-benefit {
                animation: hoverTop 0.52s cubic-bezier(.36, .07, .19, .97);
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
        }
    }
}

.benefits__img {
    position: relative;
    &-main {
        position: relative;
        z-index: 1;
    }
    &-moved {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 9;
    }
}

#howitworks {
    background: url(../img/bg-green-sec.png);
    padding-top: 100px;
    padding-bottom: 80px;
    min-height: 616px;
    @include bp(991) {
        .row {
            [class*='col-'] {
                margin-bottom: 35px;
                &:nth-child(2n+1) {
                    clear: both;

                }
            }
        }
    }
    @media (max-width: 470px) {
        [class*='col-'] {
            width: 100%;
        }

    }
}

.bg-howitworks {
    position: absolute;
    top: 27px;
    z-index: 0;
    &_left {
        left: 38px;
    }
    &_right {
        right: 38px;
    }
}

.how {
    text-align: center;
    cursor: default;
    &__icon {
        margin-bottom: 35px;
        position: relative;
        @include bp(991) {
            margin-bottom: 15px;
        }
    }
    &__title {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 5px;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
    }
    &:hover {
        .how__icon {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        }
    }
    @media (max-width: 470px) {
        max-width: 360px;
        margin: 0 auto;
    }
}

#calc-section {
    padding: 100px 0 50px;
    @include bp(991) {
        .butn-row {
            text-align: center;
        }
    }
}

.bg-calc-section {
    position: absolute;
    top: 66px;
    right: 98px;
    z-index: 0;
}

.calc-img {
    position: relative;
    &__moved {
        position: absolute;
        left: 80px;
        top: 150px;
    }
    @include bp(991) {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

.input-title {
    line-height: 1;
    margin-bottom: 12px;
    padding-left: 18px;
}

.input-row {
    margin-bottom: 30px;
}

.butn-row {
    padding-top: 30px;
}

.jq-selectbox__trigger {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #cccccc transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 21px;
}

select {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -99999999px;
}

.jq-selectbox {
    display: block;
    &.opened {
        .jq-selectbox__select {
            border-color: #92c54e;
            .jq-selectbox__trigger {
                border-color: #92c54e transparent transparent transparent;
            }
        }
    }

}

.jq-number input, .jq-selectbox__select{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #bcbcbc;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 18px;
    &:hover, &:focus {
        border-color: #92c54e;
        .jq-selectbox__trigger {
            border-color: #92c54e transparent transparent transparent;
        }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ccc;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #ccc;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #ccc;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #ccc;
    }
}



.calc-input {
    //padding: 15px 18px;
}

.jq-selectbox__select {
    padding-right: 26px;
}

.jq-number {
    @include bp(991) {
        width: 100%;
    }

}

.jq-selectbox__dropdown {
    width: 100%;
    max-width: 100%;
    ul {
        width: 100%;
        border-radius: 25px;
        border: 1px solid #92c54e;
        background: #f2f2f2;
        padding: 10px 0;
        li {
            padding: 5px 18px;
            white-space: normal;
            &:hover {
                background: rgba(75, 175, 80, 0.102);
            }
        }
    }
    .disabled {
        color: #ccc;
    }
}
// Default variables
$font_size: 14px !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height: 42px !default;
$input_height_small: 36px !default;
$dropdown_padding: 18px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.nice-select {
    clear: both;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #bcbcbc;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 18px;
    .current{
        display: inline-block;
        width: 100%;
        overflow: hidden;

    }
    &:hover {
        border-color: darken($gray_light, 5%);
    }
    &:active, &:focus {
        border-color: $primary_light;
    }
    // Arrow
    &:after {
        border-bottom: 2px solid $arrow_color;
        border-right: 2px solid $arrow_color;
        content: '';
        display: block;
        height: 5px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 12px;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
        width: 5px;
    }

    &.open {
        @extend :active;
        &:after {
            transform: rotate(-135deg);
        }
        .list {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1) translateY(0);
        }
    }
    &.disabled {
        border-color: lighten($gray_light, 2%);
        color: $gray;
        pointer-events: none;
        &:after {
            border-color: lighten($arrow_color, 20%);
        }
    }

    // Modifiers
    &.wide {
        width: 100%;
        .list {
            left: 0 !important;
            right: 0 !important;
        }
    }
    &.right {
        float: right;
        .list {
            left: auto;
            right: 0;
        }
    }
    &.small {
        font-size: $font_size_small;
        height: $input_height_small;
        line-height: $input_height_small - 2;
        &:after {
            height: 4px;
            width: 4px;
        }
        .option {
            line-height: $input_height_small - 2;
            min-height: $input_height_small - 2;
        }
    }

    // List and options
    .list {
        background-color: #fff;
        box-shadow: 0 1px 25px rgba(18, 18, 18, 0.1), inset 0 3px 0 #92c54e;
        box-sizing: border-box;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        top: calc(100% + 15px); left: 0;
        transform-origin: 50% 0;
        transform: scale(.75) translateY(- $input_height / 2);
        transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
        z-index: 9;
        &:hover .option:not(:hover) {
            background-color: transparent !important;
        }
    }
    .option {
        cursor: pointer;
        line-height: 1.3;
        list-style: none;
        outline: none;
        padding: 6px 15px;
        text-align: left;
        transition: all 0.2s;
        &:hover, &.focus, &.selected.focus {
            color: #92c64e;
        }
        &.selected {
            color:#000;
        }
        &.disabled {
            background-color: transparent;
            color: $gray;
            cursor: default;
        }
    }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
    .list {
        display: none;
    }
    &.open {
        .list {
            display: block;
        }
    }
}
#programms {
    background: #fff;
    padding: 100px 0 120px;
    @include bp(767) {
        padding: 60px 0;
    }
}

.bg-programms {
    position: absolute;
    top: 69px;
    z-index: 0;
    &_left {
        left: 53px;
    }
    &_right {
        right: 53px;
    }
}

.programms-wrap {
    padding-bottom: 20px;
}

.programm {
    padding-left: 95px;
    padding-bottom: 20px;
    position: relative;
    cursor: default;

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 85px;
        height: 85px;
        img {
            max-width: 100%;
        }
    }
    &__title {
        color: #333;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 10px;
    }
    &__text {
        line-height: 1.8;
    }
    &__label-holder {
        margin-bottom: 25px;
    }
    &__label {
        display: inline-block;
        min-width: 78px;
        line-height: 1;
        border-radius: 13px;
        background-color: #92c64e;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        padding: 7px 5px 6px;
        margin-bottom: 5px;
    }
    &:hover {
        .programm__icon {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        }
    }
}

.call-to-action {
    border: 20px solid #4baf50;
    position: relative;
    padding: 40px 30px;
    &__item {
        display: inline-block;
        vertical-align: top;
        @include bp(767) {
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__img {
        position: absolute;
        right: -111px;
        top: -133px;
        @include bp(991) {
            right: initial;
            position: relative;
            top: 0;
            width: 250px;
            max-width: 100%;
            left: 50%;
            margin-left: -125px;
            margin-bottom: 0;

        }
    }
    &__img-moved {
        position: absolute;
        right: 0;
        top: 74px;
        @media (max-width: 450px) {
            max-width: 260px;
        }
    }
    &__text {
        max-width: 45%;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        position: relative;
        margin-right: 60px;
        &:before {
            @include pseudo;
            width: 224px;
            height: 56px;
            top: calc(100% - 30px);
            left: calc(100% - 180px);
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22224%22%20height%3D%2256%22%20viewBox%3D%220%200%20224%2056%22%3E%3Cimage%20width%3D%22224%22%20height%3D%2256%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAOAAAAA4CAYAAADkQPSjAAAMYUlEQVR4Xu2deXxU1RXHz3kzSUDBsIiK1KWKIC5oodpSF7bMeyFk3gBKsLZYcSnigooiQuZNXuZNEJTiAirYysdaN8BC3htCMm8ixFqXulE3KGKtH61KwVYWBbK8e%2Fq5k8xHBSQTnCSz3PmLMPede8%2F33t%2B8e8%2FdEMRHEBAEOpQAEWB53QiXPrKuCTs0Z5GZICAIgGF51gPg6Q7mnSoEKBqEINDOBIw1BYOQpP5%2Brx3mWRmm%2FAkg%2FMiRmBBgO7MX5rOQQCg8qh9jrpMDvuiLMcFZ8kYAGAQkna75ajZXmMpYB%2BDHAV9ksXgDZmEDES4nl8C8FQX5DXlwSsBXu6FZcJ5XAfA8YmxwYFztO0ZYvpQILkCAY4BoueaLWvESCAEmty6EtSwgoK%2BYmOvO3Xmsf5z9CXc3FJbXEcEIIjaUi9AIK1OIaDDDvFKJ6jUE%2BoiR9L6EtA4AntBUe7IQYBY0FOFicgjoui7B0Lpeurfui5Yx3EpAuASJzvf7oq8bYeVaYDTcyXFdrxdV74rnqlcVHedymj4DgI1%2Br312yFIUh9W%2Foo%2Bv2yEEmJy6EVYylAB%2Fy%2BklKxtaupTLAPAKAmlYQK15zbDkW5FQaXToivIJ9rZvI1i6dGjOF317F3R3u9ZNL6quNyy5mJCO04qjjyIC7Y9LdEEztAEJtw6fQNCS70KAGYh4kd8beTVkybcTwCTEpnF%2B77pPD2XZMJXbAGkBAsz0q%2FYCw%2FI8DoCTGYFc5rOjQoCHXy%2FiySwhELKUAABNIYkVacW1m9ridjCsnIMApYBOGX%2B23JQ9EsIludRl5iyftVsIsC00RVpBIAEChiVXI8CAJsw7W%2FeG9%2FBH%2BLhR13XW2uOiC9oaIfG9INAKAcOS%2F0pAPXu43UP4uE9fP8Lt2p37LgJ87Fdt%2BVCPCwGK5iUItJFAmek53o1wrwT4WKlqV%2FO1ndxEPMiirx%2FRxbUrdwtJ9FbAGy0WAmwjYJFcEDgUgZDpmUiIKwBgkaba0w%2BWVnRBRRsSBJJIIGh6LkDEIX6vvZibNaqUC7vt2fX6jJKX98az0VcXnuySWDkBuy%2B%2BKqa1IoguaGuExPeCAAAELc97CHgGX0CtF9d%2BeDAoIUu5hYDuBcA7NTUyPxFwQoCJUBJpso4AH9cFqwpkoqY3%2BAqYoOUZjigN0LyR338fjIUrhnX9Oi9%2FjHPUvrX6yLp9iUATAkyEkkiTdQQM06MCorn%2F2s2Dvvkq5ROYG08OFEdeaCsoIcC2EhPpM5aAXqP0onroVe6LfFC2Sj4mJwfuYoyWxbcVfZ%2FjhiW%2FAQA%2FcVzu4%2FWxa7e2BZAQYFtoibQZTaBl396pTi721Qsj%2F0vU2ZAlTyfCAX41ctPB1nseyo4QYKKURbqMJMAjl%2FDWzz%2Fmq1aa14BSv4H7ekwpKVnpdITDQoAdQVnkkZIEgqbn14j4p7ZELZPtiBBgsokKeylNQF875ij4ai%2FTS%2Bq%2BClXKvyAJFzOiWQfbqdARjggBdgRlkUdKELgnIh%2B5rx4%2BBITdmtfunwqFEgJMhVoQZWg3AnyD7Of9ep7AJ8%2F5v7cd33stEGzRVPv6dsu0DYaFANsASyRNPwKGJS8BgN8CSqM0b01dqnkgBJhqNSLK84MJBMOFw3L3Nm28s6R2ZzDsuQYJfuW43ZP1oup%2F%2F2DjSTYgBJhkoMJc5xLgZ7AAQBgBH%2FOrkSmdW5rWcxcCbJ2RSJHiBMrXFCjgSIxHMmM7Etx0NzjwiDYuUpviRW%2FeSCg%2BgkC6EmiJbO5qiWz2SDc%2FhADTrcZEeaHCkscQkZrXBW%2BfqdhfG6bnZpRwq99rL083PEKA6VZjorwQspRaAhpNIJ3Pz%2BlMZyRCgOlce1lSdsNUChHpYUCYzm8Y0sMFJyKTBnbW6pVkYhcCTCZNYStpBCrWyGe59rBPmqcSlOuQ6CFCvDLgjTyetExSwJAQYApUgijCdwnweTwk9iIRVAZ89gT%2BLQ%2B28PFeprESAsy0Gk1TfwxLLgWkHZo3%2BuDcVaN7OznuZcTo6YDPfiZNXUqo2EKACWESiZJNgB9ee9T2%2Bhx%2BqlhMcG7XdiD4VPPZJyQ7r1S2JwSYyrWTwWUzLPl5ABjslnJOmV1c9WXIlC%2BWJNg2x2v%2FI4PdPsA1IcBsqu1O9LXcVEZKyJQueWjE5u7C8tMAcKLTrWF0oieIdWLx2y1rIcB2Q5vdhvnJ0LnnvdB%2Fztjn3uck4nN3CGyYX619JbvpfOO9EKBoCe1CwLA88wBwFiJN8Hujq%2BdWjR7AHPcgvxrhR%2F2JTwsBIUDRFJJCwLDkUQA0jyTpNn4%2BZtBSLkegqYB0jeaNbklKJhloBENh2UsEzyDg5eLXKQNruJ1c0sMjjnaxnGnA3E9p46v%2FGQrLdxLBXQB0naZGl7ZTthlnFitMZSxDWk6AVwXUyArDLBwI4JQ4edKDbTkbMePICIe%2BQ4Af1R5aUzjcceGbelH1Ln5POgAsBIJ7NJ99B%2F%2B%2BvLLwJH18zUcCXeIEDuiCGmHPAiDk91zfyCdF%2BXn3e4%2FsNrB0bPTviZsVKTOBQMWflb6Nveq36yPrmoKmfBkiPI1ES%2Fy%2B6DR%2BirSrnk12pMYn%2Bd0JmeBvZ%2FhwgACbJ0WlSx2ncbk%2Bvm6HYSqLAekGRFD5QlheSH3FxFy9ZGVDZxRY5Nl%2BBPSw94j4FcvN0wZUi0gP%2Bb3Rm2IbXV00F8F5QEQxk1cHrQZhWrqo1wNJMzRfzeaW6NYtBNJF6b4VJHkY09PSt39Ig5Xyz1CCvwDSIs0bvX1u5Rh%2BFdcTBDCPD03S08PUL3WrAtzfhdg5%2BABziDFPYFztOyFLCRDQ1S7mGjNnXPXG1Hc5e0vIhxPxCyVDYeV8InoeCBbxMVxFledc5uAaRFro90YXZi%2BljvW8zQLcv3iGJYcAYCYiXuT3Rl41TI8GiNMkkgpLfTVviy5rx1bot3PjATWnvvu%2F%2BHCh%2BRRoeJ4A7guo9swWwUUQab4QXOfV0Q8W4P4CM8LyXCC4LS7I5gsv4FaS0MPnh%2FgiXNfX7tO04tpNned25uXMu5PurjvHNzbC%2BvIJ9raQpfgIqBIIH9R8kRuDYeUciWgVESzQfPbDmUcgPT1KigD3d52fQDx16huN%2FP%2BNsOcGIPQTSCofMwbDynwkuoOIJgd80Sf0qqLjXE7TRCcXnxTTHok3ojJT6Z%2BDMEti0r2869%2FCmd9fvkhT7emx6SR0lkgkLSj1RaoStyxSdiSBdhHgoRwoN2WPS4LZzGE38zFkXJCIMNvvtec1BwNwAQCVaaq9jtviAYGGhm4fZFPkteWCyJFNe%2FNXc7%2BDludKBLxfArisVLWrv5n4RkNTI4FQeFQ%2FRu47APCRgBp5ryMbkcjr8Al0uAAPCOpUFZ0EjvObRmJ%2FKPdFPzMsz1QAXIKAZX41EgxZyiUE9CwiLY6Fw%2Fn8UwPdDySt1nw1q7i9CrNwMObg53OKqrcfPoqOfTIWZXQ5AzSvXclzDlnKLQTscsftnsBPcDZM%2BY%2BAcEW8p2CY8jRAuA8RLuXTQbH7yLt2VxzIs%2BNTBx3rgcgtGQQ6XYD7OxFbcVFVcLrz%2BoWb%2BaWJvKvlRloKCIt4Yw1anuEIWEdIVQFvtNgIe04Dws0A8Kam2j%2BNXcDRt3ctAG3V1Oik5m6wci0Q9NLUyPyYYNfIZzGC%2FvHGz6%2BskhqcQYFx9t9iY9r1I9y5O7sOmO2r3sRvPOVlMsyCs1h%2B0yY%2BKR37O%2By5mGHje3wSOva3JU%2BRkG3kc2R8J4A05KXfSQj%2F9XttHqQCw5JfQoC%2BR%2BzbfQaPRBqW%2FC4AnOlirjNjXUhLeQqASiQJzi0ttt%2BNHcsANMmB%2BpCY6E5GU09NGyknwEQwhcIFFyKjLaW%2B5%2F4TexN06f4IArzmV%2B0H%2BGSyi%2Bo%2FJIAvA6o9qKXx85UaPd1SztF886dhyhsA4VxibDDvBhuWzI89mARAiqZGbcOUdUAoI4KrAz57WdCUr0KERwlwbkCNlPJzKRkAv2XnWc1nT2yJKG4AgLc11T5n3oqC%2FMYu0jYA2KGp9rHNZfCsB8A%2B%2BW7X0OlF1fWGWTgBgA0eWJ9v8NtY%2BQ%2FHZ3169%2BQBlEQYiDSZQSAtBdgaen39iC6wvQ%2BLjxkrwsoQRtQjPqbk9wcQ0Hmse6PB32gtYvil43bfpI9du9WoVArQRXNQohl8CV6wsuBsdEkLGdC8Mm%2F0ublrx%2FRxHOceieFKHuDgbzz3kJenM2AbAmqU7%2FRuHrcS7RFrI1urrez%2B%2Fv82ES6ofzuy5wAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E');
        }
        @include bp(767) {
            max-width: 100%;

            margin-right: 0;
            &:before {
                display: none;
            }
        }
    }
    &__butn {
        @include bp(767) {
            .butn {
                max-width: 100%;
            }
        }
    }
    @media (max-width: 450px) {
        padding: 15px 10px;

    }
}

#menu {
    padding: 100px 0 0;
    background: url(../img/bg-green-sec.png);
    .section-title {
        margin-bottom: 40px;
    }
    @include bp(991) {
        padding: 60px 0;
    }
}

.bg-menu {
    position: absolute;
    right: 187px;
    top: 253px;
    z-index: 0;
}

.section-subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}

.day-tabs {
    list-style: none;
    @include jusWrap;
    line-height: 0;
    font-size: 0;
    margin: 0 -5px 60px;
    li {
        line-height: 1;
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 10px;

        a {
            display: block;
            min-width: 100px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #ffffff;
            background-color: transparent;
            padding: 5px;
            font-size: 16px;
            color: #fff;
            line-height: 1;
            @include trans;
            &:hover {
                background: #fff;
                color: #4baf50;
            }
        }
        &.active {
            a {
                background: #fff;
                color: #4baf50;
            }
        }
    }
    @media (max-width: 600px) {
        text-align: center;

    }
}

.menu {
    color: #ffffff;
    &__title {
        border-bottom: 2px solid #fff;
        padding-bottom: 3px;
        &-item-meal {
            display: inline-block;
            float: left;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1.8px;
        }
        &-item-time {
            display: inline-block;
            float: right;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
        }
    }
    &__text {
        padding-top: 18px;
        margin-bottom: 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        &_sum {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.2;
        }
    }
}

#testemonials {
    padding: 100px 0 120px;
    @include bp(991){
        padding: 60px 0;
    }
}

.bg-testemonials {
    position: absolute;
    top: 114px;
    z-index: -1;
    &_left {
        left: 93px;
    }
    &_right {
        right: 54px;
    }
}

.testemonial {
    padding: 15px;
    text-align: center;
    position: relative;
    height: 360px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1290px) {
        height: 330px;
        width: 300px;
    }
    @media (max-width: 479px) {
        height: 280px;
        width: 245px;
    }
    &__info {
        padding-top: 30px;
        @media (max-width: 1290px) {
            padding-top: 8px;
        }
    }
    &__title {
        padding-top: 40px;
        color: #333;
        position: relative;
        &:before {
            @include pseudo;
            width: 20px;
            height: 17px;
            top: 0;
            left: 50%;
            margin-left: -10px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%2392c64e%22%3E%3Cpath%20d%3D%22M55.178%20332.895c-22.22-79.435%2026.876-198.974%20151.004-223.472l16.886%2036.498c-38.022%2014.331-63.218%2047.064-66.943%2081.466%2042.757%206.73%2075.459%2043.737%2075.459%2088.385-.001%2099.242-146.403%20124.39-176.406%2017.123zm230.417%200c-22.22-79.435%2026.876-198.974%20151.004-223.472l16.886%2036.498c-38.022%2014.331-63.218%2047.064-66.943%2081.466%2042.757%206.73%2075.459%2043.737%2075.459%2088.385-.001%2099.242-146.403%20124.39-176.406%2017.123z%22%2F%3E%3C%2Fsvg%3E');
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media (max-width: 479px) {
            padding-top: 27px;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 15px;
        @media (max-width: 479px) {
            margin-bottom: 5px;
        }
    }
    &__date {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 23px;
        @media (max-width: 479px) {
            margin-bottom: 5px;
        }
    }
    &__text {
        color: #666;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 20px;
        height: 112px;
        overflow: hidden;
    }
    &__read-more {
        display: inline-block;
        color: #4baf50;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        text-decoration: underline;
        position: relative;
        z-index: 9;
        &:focus{
            color: #4baf50;

        }
        &:hover {
            color: #4baf50;
            text-decoration: none;
        }
    }
}

.circles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: translate3D(-50%, -50%, 0);
    -ms-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
}

.circles .circle {
    position: absolute;
    box-sizing: border-box;
    width: 99%;
    height: 99%;
    border: 2px solid transparent;
    border-radius: 92% 105% 112% 98%;
    mix-blend-mode: screen;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.circles .circle:nth-child(1) {
    -webkit-animation: spin1 6s linear infinite;
    animation: spin1 5s linear infinite;
    border-color: #83b246;
    border-radius: 94% 108% 117% 92%;
}

.circles .circle:nth-child(2) {
    -webkit-animation: spin2 6s linear infinite;
    animation: spin2 5s linear infinite;
    border-color: #83b246;
}

.circles .circle:nth-child(3) {
    -webkit-animation: spin3 6s linear infinite;
    animation: spin3 6s linear infinite;
    border-color: #83b246;
    border-radius: 90% 118% 107% 94%
}

.circles_2 {
    .circle:nth-child(1) {
        -webkit-animation: spin1 6s linear infinite;
        animation: spin4 7s linear infinite;
        border-color: #83b246;
    }
    .circle:nth-child(2) {
        -webkit-animation: spin2 6s linear infinite;
        animation: spin3 8s linear infinite;
        border-color: #83b246;
    }
    .circle:nth-child(3) {
        -webkit-animation: spin3 6s linear infinite;
        animation: spin1 6s linear infinite;
        border-color: #83b246;
    }
}

.slider-wrap {
    padding-bottom: 45px;
}

.slider__item {
    padding: 0 25px;
}

.slider {
    padding: 0;
    position: relative;
    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 25px;
        z-index: 99;
        color: #4f96d0;
        font-size: 32px;
        line-height: 1;
        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 21px;
            height: 37px;
            @include center;
            &:before, &:after {
                @include pseudo;
                background-color: #999;
                height: 2px;
                width: 25px;
                @include trans;
                border-radius: 2px;
            }
            &:before {
                bottom: 9px;
            }
            &:after {
                bottom: 26px;
            }
        }
    }
    .slick-arrow-right {
        right: -55px;
        span:before {
            transform: rotate(-45deg);
        }
        span:after {
            transform: rotate(45deg);
        }
        &:hover {
            span {
                &:before {
                    transform: rotate(135deg);
                    background-color: #92c64e;
                }
                &:after {
                    transform: rotate(-135deg);
                    background-color: #92c64e;
                }
            }
        }
    }
    .slick-arrow-left {
        left: -55px;
        span:before {
            transform: rotate(45deg);
        }
        span:after {
            transform: rotate(-45deg);
        }
        &:hover {
            span {
                &:before {
                    transform: rotate(-135deg);
                    background-color: #92c64e;
                }
                &:after {
                    transform: rotate(135deg);
                    background-color: #92c64e;
                }
            }
        }
    }
    .slick-list {
        padding: 15px 0;
    }
    @media (max-width: 1290px) {
        padding: 0 50px;
        .slick-arrow-right {
            right: 0;
        }
        .slick-arrow-left {
            left: 0;
        }
    }
    @media (max-width: 479px) {
        padding: 0;
        .slick-arrow {
            top: 100%;
            bottom: initial;
        }

    }

}

.testemonials-butn {
    text-align: center;
}

._c-wh {
    color: #fff;
}

.red_input {
    border-color: #ff0000 !important;
}