footer {
    padding: 70px 0;
    background-color: #92c64e;
    background-image: linear-gradient(43deg, rgba(213, 228, 32, 0) 24%, rgba(213, 228, 32, 0.5) 100%);
    @include bp(767){
        padding: 60px 0 0;
    }
}

.footer-logo-wrap {
    text-align: center;
    margin-bottom: 60px;
    .logo {
        display: inline-block;
    }
}

.footer-links {
    @include jusWrap;
    &__item {
        display: inline-block;
        vertical-align: top;
        @include bp(767){
            display: block;
            text-align: center;
            margin-bottom: 35px;
        }
    }
}

.footer-link {
    color: #fff;
    a {
        color: #fff;
        @include trans;
        &:hover {
            opacity: .7;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        @include bp(767){
            margin-bottom: 10px;
        }
    }
}

.footer-location {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

.footer-phone {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.soc {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    + .soc {
        margin-left: 15px;
    }
    &._ins {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1078%207102.34v10.31c0%203.5-2.85%206.35-6.35%206.35h-10.3a6.35%206.35%200%200%201-6.35-6.35v-10.3c0-3.5%202.85-6.35%206.35-6.35h10.3c3.5%200%206.35%202.84%206.35%206.34zm-2.04%2010.31v-10.3c0-2.38-1.93-4.31-4.3-4.31h-10.31a4.31%204.31%200%200%200-4.31%204.3v10.31c0%202.37%201.93%204.3%204.3%204.3h10.31a4.3%204.3%200%200%200%204.3-4.3zm-3.53-5.15a5.93%205.93%200%201%201-11.87-.02%205.93%205.93%200%200%201%2011.87.02zm-2.04%200a3.9%203.9%200%201%200-7.79%200%203.9%203.9%200%200%200%207.79%200zm3.34-7.22a1.5%201.5%200%200%201%200%202.12%201.5%201.5%200%200%201-2.55-1.06%201.5%201.5%200%200%201%201.5-1.5c.39%200%20.78.16%201.05.44z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1053%20-7094)%22%2F%3E%3C%2Fsvg%3E');
    }
    &._fb {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2222%22%20viewBox%3D%220%200%2013%2022%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1108.98%207117H1105v-9.5h-2v-3.28h2v-1.97c0-2.67%201.13-4.26%204.33-4.26h2.66v3.28h-1.66c-1.25%200-1.33.46-1.33%201.31v1.64h3.01l-.35%203.27h-2.67v9.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1101%20-7096)%22%2F%3E%3C%2Fsvg%3E');

    }
    &._yt {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2226%22%20viewBox%3D%220%200%2022%2026%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1153.07%207112.82h-1.25v-.73c0-.33.27-.6.6-.6h.07c.33%200%20.6.27.6.6zm-4.11-1.1v3.57c0%20.27-.26.48-.58.48-.32%200-.58-.21-.58-.48v-3.56c0-.27.26-.48.58-.48.32%200%20.58.21.58.48zm7.04-2.47v6.79c0%201.62-1.4%202.96-3.1%202.96h-12.8a3.05%203.05%200%200%201-3.1-2.96v-6.79c0-1.62%201.29-2.25%203-2.25h13c1.7%200%203%20.63%203%202.25zm-15%207.75v-7h2v-1h-5v1h2v7zm4.71-6.3l-.71.3v4c0%20.55-.58.34-.61.43-.1.3-.2%201.14-.39.57-.03-.1%200-.48%200-1v-4h-1v3c0%20.58-.02%201.8%200%202%20.03.34-.32.77%200%201%201.47-.13%201.71-.39%202-1v1h1v-6zm4.23%204.36v-3.17c0-1.21-.9-1.94-2.12-.96l.18-1.93h-1v8l.58-.3.1-.5c1.39%201.28%202.26.4%202.26-1.14zm4.13-.42h-.99v.71c0%20.3-.25.54-.54.54h-.2a.54.54%200%200%201-.54-.54v-1.47h2.27v-.86c0-.63-.02-1.26-.07-1.62-.16-1.13-1.74-1.32-2.54-.73a1.5%201.5%200%200%200-.56.75c-.11.33-.17.77-.17%201.34v1.9c0%203.14%203.8%202.7%203.34%200zm-5.2-10.8c-.02-.19-.03-.55-.03-1.1v-4.25h1.2v4.91c0%20.27.23.49.5.49.26%200%20.47-.22.47-.49v-4.91h1.16v6.31h-1.47l.03-.52c-.1.21-.23.37-.37.48a.83.83%200%200%201-.51.16.92.92%200%200%201-.54-.15.9.9%200%200%201-.32-.4%201.86%201.86%200%200%201-.13-.54zm-4.34-3.05c0-.6.05-1.08.15-1.42.1-.34.28-.61.54-.82.26-.2.6-.3%201-.3.34%200%20.63.06.87.19.25.13.44.3.57.52.13.21.22.43.27.66.05.22.08.57.08%201.03v1.6c0%20.59-.03%201.02-.07%201.29-.05.27-.14.53-.3.77a1.4%201.4%200%200%201-.56.52c-.23.12-.5.17-.8.17a2.2%202.2%200%200%201-.85-.14c-.23-.1-.41-.25-.54-.44-.13-.2-.23-.43-.28-.7a6.9%206.9%200%200%201-.08-1.25v-1.68zm1.15%202.51c0%20.36.27.65.59.65.32%200%20.58-.29.58-.65v-3.36c0-.36-.26-.65-.58-.65-.32%200-.59.3-.59.65zm-4.08-3.14l-1.74-4.16h1.5l.89%203.09.87-3.08h1.52l-1.64%204.14v4.85h-1.4z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1135%20-7094)%22%2F%3E%3C%2Fsvg%3E');
    }
}

.temp {
    img {
        max-width: 100%;
    }
}

.dd {
    display: inline-block;
    width: 174px;
    height: 40px;
    background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Objects%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20225.4%2063.8%22%3E%3Cstyle%3E.st0%7Bfill%3A%23999%7D.st1%7Bfill%3A%233f3e43%7D.st2%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22XMLID_157_%22%20class%3D%22st0%22%20d%3D%22M30%2020c-1.7%200-3%201.4-3%203v-8.1c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v-3.2c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v6.6c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v15.8C9%2030.7%206.3%2028%202.9%2028v20c0%208.4%206.8%2015.2%2015.2%2015.2%208.4%200%2015.2-6.8%2015.2-15.2V23c-.3-1.6-1.7-3-3.3-3z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M29.8%2016.2c-.8%200-1.6.2-2.2.6v-5c0-2.3-1.9-4.2-4.2-4.2-.8%200-1.6.2-2.2.6-.1-2.2-2-4-4.2-4-2.3%200-4.2%201.9-4.2%204.2v3.4c-.6-.4-1.4-.6-2.2-.6-2.3%200-4.2%201.9-4.2%204.2V27C5%2025.5%203.1%2024.6%201%2024.6c-.6%200-1%20.4-1%201v21.1c0%209.4%207.7%2017.1%2017.1%2017.1s17.1-7.7%2017.1-17.1V20.3c-.2-2.2-2.1-4.1-4.4-4.1zm-28%2030.6v-20c2.5.5%204.4%202.7%204.4%205.3%200%20.6.4%201%201%201s1-.4%201-1V15.4c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v16.5c0%20.6.4%201%201%201s1-.4%201-1V8.5c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2V32c0%20.6.4%201%201%201s1-.4%201-1V11.8c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v20.1c0%20.6.4%201%201%201s1-.4%201-1V20.3c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v26.2c0%207.4-6%2013.4-13.3%2013.4C12.7%2059.9%208%2055.2%208%2049.4c0-4.5%203.7-8.2%208.2-8.2%203.5%200%206.4%202.9%206.4%206.4%200%202.7-2.2%204.9-4.9%204.9-2.1%200-3.7-1.7-3.7-3.7%200-1.5%201.2-2.8%202.8-2.8%201.1%200%202%20.9%202%202%200%20.8-.6%201.4-1.4%201.4-.5%200-.9-.4-.9-.9%200-.6-.4-1-1-1s-1%20.4-1%201c0%201.6%201.3%202.9%202.9%202.9%201.9%200%203.4-1.5%203.4-3.4%200-2.2-1.8-4-4-4-2.6%200-4.8%202.1-4.8%204.8%200%203.2%202.6%205.7%205.7%205.7%203.8%200%206.9-3.1%206.9-6.9%200-4.6-3.8-8.4-8.4-8.4C10.6%2039.2%206%2043.8%206%2049.4c0%206.7%205.2%2012.1%2011.8%2012.5h-1c-8.2%200-15-6.8-15-15.1z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M57.4%2030.8c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7%201.2%201.1%201.7%202.6%201.7%204.6zm-2.2.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3h1.5c3.1%200%204.6-1.6%204.6-4.7zm12.3%206.5h-7.3V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8zm10%200h-7.2V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8h-.1zm11.3-9c0%201.3-.4%202.4-1.3%203.1-.9.7-2.1%201.1-3.8%201.1h-1.3v4.8h-2.1V24.5H84c1.6%200%202.8.3%203.6%201%20.8.7%201.2%201.6%201.2%202.9zm-6.4%202.4h1.1c1.1%200%201.9-.2%202.4-.6s.8-1%20.8-1.8c0-.7-.2-1.3-.7-1.7s-1.2-.5-2.1-.5h-1.5v4.6zm19.4%200c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7s1.7%202.6%201.7%204.6zm-2.2.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3H95c3.1%200%204.6-1.6%204.6-4.7zm12.3%206.5h-7.3V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8zm10.1-3.5c0%201.1-.4%202-1.2%202.7s-2%201-3.4%201-2.6-.2-3.6-.7v-2c.6.3%201.2.5%201.9.7s1.3.2%201.8.2c.8%200%201.4-.2%201.8-.5s.6-.7.6-1.3c0-.5-.2-.9-.5-1.2-.3-.3-1.1-.7-2.3-1.2-1.2-.5-2-1-2.5-1.6s-.7-1.3-.7-2.2c0-1.1.4-1.9%201.1-2.5s1.8-.9%203.1-.9c1.2%200%202.5.3%203.7.8l-.7%201.7c-1.1-.5-2.2-.7-3.1-.7-.7%200-1.2.1-1.5.4-.4.3-.5.7-.5%201.2%200%20.3.1.6.2.9.1.2.4.5.7.7.3.2.9.5%201.7.8.9.4%201.6.8%202.1%201.1s.8.7%201%201.2c.2.5.3.8.3%201.4zm2.5%203.5V24.5h2.1v12.8h-2.1v.1zm10.8-7h4.7v6.5c-.8.3-1.5.4-2.2.5-.7.1-1.5.2-2.3.2-1.9%200-3.4-.6-4.5-1.7-1.1-1.2-1.6-2.8-1.6-4.9s.6-3.7%201.8-4.9c1.2-1.2%202.8-1.8%204.9-1.8%201.3%200%202.6.3%203.8.8l-.7%201.7c-1-.5-2.1-.7-3.1-.7-1.4%200-2.5.4-3.3%201.3-.8.9-1.2%202-1.2%203.5%200%201.6.4%202.8%201.1%203.6.7.8%201.8%201.2%203.1%201.2.7%200%201.4-.1%202.2-.3v-3.3h-2.7v-1.7zm18.5%207h-2.6l-6.3-10.2h-.1v.6c.1%201.1.1%202.1.1%203v6.7H143v-13h2.5l6.3%2010.2h.1c0-.1%200-.6-.1-1.5s-.1-1.5-.1-2v-6.7h1.9v12.9h.2zm15.5-3.5c0%201.1-.4%202-1.2%202.7-.8.7-2%201-3.4%201s-2.6-.2-3.6-.7v-2c.6.3%201.2.5%201.9.7s1.3.2%201.8.2c.8%200%201.4-.2%201.8-.5.4-.3.6-.7.6-1.3%200-.5-.2-.9-.5-1.2s-1.1-.7-2.3-1.2-2-1-2.5-1.6-.7-1.3-.7-2.2c0-1.1.4-1.9%201.1-2.5.7-.6%201.8-.9%203.1-.9%201.2%200%202.5.3%203.7.8l-.7%201.7c-1.1-.5-2.2-.7-3.1-.7-.7%200-1.2.1-1.5.4-.4.3-.5.7-.5%201.2%200%20.3.1.6.2.9.1.2.4.5.7.7s.9.5%201.7.8c.9.4%201.6.8%202.1%201.1s.8.7%201%201.2.3.8.3%201.4zm6.9%203.5h-2.1v-11h-3.8v-1.9h9.7v1.8h-3.8v11.1zM192%2024.5v8.3c0%20.9-.2%201.8-.6%202.5-.4.7-1%201.3-1.8%201.6-.8.4-1.7.6-2.8.6-1.6%200-2.8-.4-3.7-1.3-.9-.9-1.3-2-1.3-3.5v-8.2h2.1v8.1c0%201.1.2%201.8.7%202.3s1.2.8%202.3.8c2%200%203-1%203-3.1v-8.1h2.1zm13.8%206.3c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7%201.2%201.1%201.7%202.6%201.7%204.6zm-2.3.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3h1.5c3.1%200%204.6-1.6%204.6-4.7zm5%206.5V24.5h2.1v12.8h-2.1v.1zm16.9-6.5c0%202.1-.5%203.7-1.6%204.9-1%201.2-2.5%201.7-4.4%201.7s-3.4-.6-4.5-1.7c-1-1.2-1.6-2.8-1.6-4.9s.5-3.8%201.6-4.9c1-1.1%202.5-1.7%204.5-1.7%201.9%200%203.4.6%204.4%201.7s1.6%202.8%201.6%204.9zm-9.8%200c0%201.6.3%202.8%201%203.6.6.8%201.6%201.2%202.8%201.2%201.2%200%202.2-.4%202.8-1.2.6-.8%201-2%201-3.6s-.3-2.8-.9-3.6c-.6-.8-1.6-1.2-2.8-1.2-1.3%200-2.2.4-2.9%201.2-.7.9-1%202.1-1%203.6zM49.9%2054.5c-.9%200-1.6-.3-2.2-.9s-.8-1.4-.8-2.4c0-1.1.3-1.9.8-2.5s1.3-.9%202.2-.9c.3%200%20.6%200%20.9.1s.6.1.7.2l-.3.8c-.2-.1-.4-.2-.7-.2-.3%200-.5-.1-.7-.1-1.3%200-2%20.8-2%202.5%200%20.8.2%201.4.5%201.8s.8.6%201.4.6c.5%200%201.1-.1%201.6-.3v.9c-.2.3-.7.4-1.4.4zm7.1-.1l-.2-.9c-.3.4-.6.7-1%20.8-.4.1-.7.2-1.2.2-.6%200-1.1-.2-1.5-.5s-.5-.8-.5-1.4c0-1.3%201-2%203.1-2h1.1v-.4c0-.5-.1-.9-.3-1.1-.2-.2-.6-.4-1-.4-.5%200-1.1.2-1.8.5l-.3-.7c.3-.2.7-.3%201-.4s.8-.1%201.1-.1c.8%200%201.3.2%201.7.5s.6.9.6%201.6v4.4H57v-.1zm-2.2-.7c.6%200%201.1-.2%201.4-.5s.5-.8.5-1.4v-.6h-1c-.8%200-1.3.1-1.7.4s-.5.5-.5%201c0%20.4.1.6.3.8.2.2.6.3%201%20.3zm5.9.7h-1v-9.1h1v9.1zm10.3%200v-4.2c0-.5-.1-.9-.3-1.2-.2-.3-.6-.4-1-.4-.6%200-1.1.2-1.3.5-.2.3-.4.9-.4%201.6v3.6h-1v-4.2c0-.5-.1-.9-.3-1.2-.2-.3-.6-.4-1-.4-.6%200-1.1.2-1.3.5-.2.3-.4%201-.4%201.8v3.4h-1v-6.4h.8l.2.9c.2-.3.4-.6.8-.7s.7-.3%201.1-.3c1%200%201.7.4%202%201.1.2-.3.5-.6.8-.8s.8-.3%201.2-.3c.7%200%201.3.2%201.6.6.3.4.5%201%20.5%201.8v4.2l-1%20.1zm11.3%200l-1.2-3.8c-.1-.2-.2-.8-.4-1.6-.2.7-.3%201.2-.4%201.6l-1.2%203.8H78L76.2%2048h1c.4%201.6.7%202.8.9%203.7.2.9.3%201.4.4%201.7%200-.2.1-.5.2-.9s.2-.6.2-.8l1.2-3.7h1.1l1.1%203.7c.2.7.4%201.2.4%201.7%200-.1.1-.4.1-.7s.5-1.9%201.2-4.7h1l-1.8%206.4h-.9zm6.8.1c-.9%200-1.7-.3-2.2-.9s-.8-1.4-.8-2.4.3-1.9.8-2.5%201.2-.9%202.1-.9c.8%200%201.4.3%201.9.8s.7%201.2.7%202.1v.6h-4.4c0%20.8.2%201.3.6%201.7s.9.6%201.5.6c.7%200%201.4-.1%202.1-.4v.9c-.3.1-.7.3-1%20.3s-.9.1-1.3.1zm-.3-5.9c-.5%200-.9.2-1.2.5-.3.3-.5.8-.5%201.4h3.4c0-.6-.1-1.1-.4-1.4s-.8-.5-1.3-.5zm7.3-.8c.8%200%201.5.3%202%20.9s.7%201.4.7%202.4-.2%201.9-.7%202.5-1.1.9-2%20.9c-.4%200-.8-.1-1.1-.2s-.6-.4-.9-.7H94l-.2.8h-.7v-9.1h1v3.5c.4-.6%201.1-1%202-1zm-.1.9c-.7%200-1.1.2-1.4.6s-.4%201-.4%201.9.2%201.5.5%201.9c.3.4.8.6%201.4.6.6%200%201-.2%201.3-.7s.4-1.1.4-1.9-.1-1.5-.4-1.9-.8-.5-1.4-.5zm11.7%203.9c0%20.6-.2%201.1-.7%201.4s-1.1.5-1.9.5c-.9%200-1.5-.1-2-.4v-.9c.3.2.6.3%201%20.4.4.1.7.1%201%20.1.5%200%20.9-.1%201.2-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.6-.2-.1-.6-.4-1.3-.6-.6-.2-1-.4-1.3-.6-.3-.2-.4-.4-.6-.6s-.2-.5-.2-.8c0-.5.2-.9.6-1.2s1-.5%201.8-.5c.7%200%201.4.1%202%20.4l-.3.8c-.6-.3-1.2-.4-1.8-.4-.5%200-.8.1-1%20.2-.2.1-.4.3-.4.6%200%20.2%200%20.3.1.4.1.1.2.2.4.3.2.1.6.3%201.1.5.8.3%201.3.6%201.5.8.2.2.7.7.7%201.1zm7.2-1.4c0%201-.3%201.9-.8%202.5s-1.3.9-2.2.9c-.6%200-1.1-.1-1.5-.4-.4-.3-.8-.7-1-1.2-.2-.5-.4-1.1-.4-1.8%200-1%20.3-1.9.8-2.4s1.3-.9%202.2-.9c.9%200%201.6.3%202.1.9s.8%201.3.8%202.4zm-4.9%200c0%20.8.2%201.4.5%201.9s.8.6%201.4.6c.6%200%201.1-.2%201.5-.6.4-.4.5-1.1.5-1.9s-.2-1.4-.5-1.9-.8-.6-1.5-.6c-.6%200-1.1.2-1.4.6s-.5%201-.5%201.9zm7.5%203.2h-1v-9.1h1v9.1zm3-6.4v4.2c0%20.5.1.9.4%201.2.3.3.6.4%201.1.4.7%200%201.2-.2%201.5-.6.3-.4.5-1%20.5-1.8V48h1v6.4h-.8l-.1-.9h-.1c-.2.3-.5.6-.8.7s-.8.3-1.2.3c-.8%200-1.4-.2-1.8-.6s-.6-1-.6-1.8v-4.2l.9.1zm8.5%205.7h.5c.2%200%20.3-.1.4-.1v.7c-.1.1-.3.1-.5.1h-.6c-1.2%200-1.9-.7-1.9-2v-3.8h-.9v-.5l.9-.4.4-1.4h.6v1.5h1.9v.8h-1.9v3.8c0%20.4.1.7.3.9s.5.4.8.4zm2.1-7.5c0-.2.1-.4.2-.5.1-.1.2-.2.4-.2s.3.1.4.2c.1.1.2.3.2.5s-.1.4-.2.5c-.1.1-.2.2-.4.2s-.3-.1-.4-.2c-.1-.1-.2-.3-.2-.5zm1.1%208.2h-1V48h1v6.4zm7.6-3.2c0%201-.3%201.9-.8%202.5s-1.3.9-2.2.9c-.6%200-1.1-.1-1.5-.4-.4-.3-.8-.7-1-1.2-.2-.5-.4-1.1-.4-1.8%200-1%20.3-1.9.8-2.4s1.3-.9%202.2-.9c.9%200%201.6.3%202.1.9s.8%201.3.8%202.4zm-4.9%200c0%20.8.2%201.4.5%201.9s.8.6%201.4.6c.6%200%201.1-.2%201.5-.6.4-.4.5-1.1.5-1.9s-.2-1.4-.5-1.9-.8-.6-1.5-.6c-.6%200-1.1.2-1.4.6s-.5%201-.5%201.9zm11%203.2v-4.2c0-.5-.1-.9-.4-1.2s-.6-.4-1.1-.4c-.7%200-1.2.2-1.5.5s-.5%201-.5%201.8v3.4h-1v-6.4h.9l.2.9c.2-.3.5-.6.8-.7.3-.1.8-.3%201.2-.3.8%200%201.4.2%201.7.6s.6%201%20.6%201.8v4.2h-.9zm7.1-1.8c0%20.6-.2%201.1-.7%201.4s-1%20.5-1.9.5c-.9%200-1.5-.1-2-.4v-.9c.3.2.6.3%201%20.4.4.1.7.1%201%20.1.5%200%20.9-.1%201.2-.2.3-.1.4-.4.4-.7%200-.3-.1-.5-.3-.6s-.6-.4-1.3-.6c-.6-.2-1-.4-1.3-.6-.3-.2-.4-.4-.6-.6s-.2-.5-.2-.8c0-.5.2-.9.6-1.2.4-.3%201-.5%201.8-.5.7%200%201.4.1%202%20.4l-.3.8c-.6-.3-1.2-.4-1.8-.4-.5%200-.8.1-1%20.2-.2.1-.4.3-.4.6%200%20.2%200%20.3.1.4.1.1.2.2.4.3s.6.3%201.1.5c.8.3%201.3.6%201.5.8.2.2.7.7.7%201.1z%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    @include trans;
    &:hover{
        background-image:url('data:image/svg+xml,%3Csvg%20id%3D%22Objects%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20225.4%2063.8%22%3E%3Cstyle%3E.st0%7Bfill%3A%23fdad39%7D.st1%7Bfill%3A%233f3e43%7D.st2%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20id%3D%22XMLID_157_%22%20class%3D%22st0%22%20d%3D%22M30%2020c-1.7%200-3%201.4-3%203v-8.1c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v-3.2c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v6.6c0-1.7-1.4-3-3-3-1.7%200-3%201.4-3%203v15.8C9%2030.7%206.3%2028%202.9%2028v20c0%208.4%206.8%2015.2%2015.2%2015.2%208.4%200%2015.2-6.8%2015.2-15.2V23c-.3-1.6-1.7-3-3.3-3z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M29.8%2016.2c-.8%200-1.6.2-2.2.6v-5c0-2.3-1.9-4.2-4.2-4.2-.8%200-1.6.2-2.2.6-.1-2.2-2-4-4.2-4-2.3%200-4.2%201.9-4.2%204.2v3.4c-.6-.4-1.4-.6-2.2-.6-2.3%200-4.2%201.9-4.2%204.2V27C5%2025.5%203.1%2024.6%201%2024.6c-.6%200-1%20.4-1%201v21.1c0%209.4%207.7%2017.1%2017.1%2017.1s17.1-7.7%2017.1-17.1V20.3c-.2-2.2-2.1-4.1-4.4-4.1zm-28%2030.6v-20c2.5.5%204.4%202.7%204.4%205.3%200%20.6.4%201%201%201s1-.4%201-1V15.4c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v16.5c0%20.6.4%201%201%201s1-.4%201-1V8.5c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2V32c0%20.6.4%201%201%201s1-.4%201-1V11.8c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v20.1c0%20.6.4%201%201%201s1-.4%201-1V20.3c0-1.2%201-2.2%202.2-2.2s2.2%201%202.2%202.2v26.2c0%207.4-6%2013.4-13.3%2013.4C12.7%2059.9%208%2055.2%208%2049.4c0-4.5%203.7-8.2%208.2-8.2%203.5%200%206.4%202.9%206.4%206.4%200%202.7-2.2%204.9-4.9%204.9-2.1%200-3.7-1.7-3.7-3.7%200-1.5%201.2-2.8%202.8-2.8%201.1%200%202%20.9%202%202%200%20.8-.6%201.4-1.4%201.4-.5%200-.9-.4-.9-.9%200-.6-.4-1-1-1s-1%20.4-1%201c0%201.6%201.3%202.9%202.9%202.9%201.9%200%203.4-1.5%203.4-3.4%200-2.2-1.8-4-4-4-2.6%200-4.8%202.1-4.8%204.8%200%203.2%202.6%205.7%205.7%205.7%203.8%200%206.9-3.1%206.9-6.9%200-4.6-3.8-8.4-8.4-8.4C10.6%2039.2%206%2043.8%206%2049.4c0%206.7%205.2%2012.1%2011.8%2012.5h-1c-8.2%200-15-6.8-15-15.1z%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M57.4%2030.8c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7%201.2%201.1%201.7%202.6%201.7%204.6zm-2.2.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3h1.5c3.1%200%204.6-1.6%204.6-4.7zm12.3%206.5h-7.3V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8zm10%200h-7.2V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8h-.1zm11.3-9c0%201.3-.4%202.4-1.3%203.1-.9.7-2.1%201.1-3.8%201.1h-1.3v4.8h-2.1V24.5H84c1.6%200%202.8.3%203.6%201%20.8.7%201.2%201.6%201.2%202.9zm-6.4%202.4h1.1c1.1%200%201.9-.2%202.4-.6s.8-1%20.8-1.8c0-.7-.2-1.3-.7-1.7s-1.2-.5-2.1-.5h-1.5v4.6zm19.4%200c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7s1.7%202.6%201.7%204.6zm-2.2.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3H95c3.1%200%204.6-1.6%204.6-4.7zm12.3%206.5h-7.3V24.5h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2v1.8zm10.1-3.5c0%201.1-.4%202-1.2%202.7s-2%201-3.4%201-2.6-.2-3.6-.7v-2c.6.3%201.2.5%201.9.7s1.3.2%201.8.2c.8%200%201.4-.2%201.8-.5s.6-.7.6-1.3c0-.5-.2-.9-.5-1.2-.3-.3-1.1-.7-2.3-1.2-1.2-.5-2-1-2.5-1.6s-.7-1.3-.7-2.2c0-1.1.4-1.9%201.1-2.5s1.8-.9%203.1-.9c1.2%200%202.5.3%203.7.8l-.7%201.7c-1.1-.5-2.2-.7-3.1-.7-.7%200-1.2.1-1.5.4-.4.3-.5.7-.5%201.2%200%20.3.1.6.2.9.1.2.4.5.7.7.3.2.9.5%201.7.8.9.4%201.6.8%202.1%201.1s.8.7%201%201.2c.2.5.3.8.3%201.4zm2.5%203.5V24.5h2.1v12.8h-2.1v.1zm10.8-7h4.7v6.5c-.8.3-1.5.4-2.2.5-.7.1-1.5.2-2.3.2-1.9%200-3.4-.6-4.5-1.7-1.1-1.2-1.6-2.8-1.6-4.9s.6-3.7%201.8-4.9c1.2-1.2%202.8-1.8%204.9-1.8%201.3%200%202.6.3%203.8.8l-.7%201.7c-1-.5-2.1-.7-3.1-.7-1.4%200-2.5.4-3.3%201.3-.8.9-1.2%202-1.2%203.5%200%201.6.4%202.8%201.1%203.6.7.8%201.8%201.2%203.1%201.2.7%200%201.4-.1%202.2-.3v-3.3h-2.7v-1.7zm18.5%207h-2.6l-6.3-10.2h-.1v.6c.1%201.1.1%202.1.1%203v6.7H143v-13h2.5l6.3%2010.2h.1c0-.1%200-.6-.1-1.5s-.1-1.5-.1-2v-6.7h1.9v12.9h.2zm15.5-3.5c0%201.1-.4%202-1.2%202.7-.8.7-2%201-3.4%201s-2.6-.2-3.6-.7v-2c.6.3%201.2.5%201.9.7s1.3.2%201.8.2c.8%200%201.4-.2%201.8-.5.4-.3.6-.7.6-1.3%200-.5-.2-.9-.5-1.2s-1.1-.7-2.3-1.2-2-1-2.5-1.6-.7-1.3-.7-2.2c0-1.1.4-1.9%201.1-2.5.7-.6%201.8-.9%203.1-.9%201.2%200%202.5.3%203.7.8l-.7%201.7c-1.1-.5-2.2-.7-3.1-.7-.7%200-1.2.1-1.5.4-.4.3-.5.7-.5%201.2%200%20.3.1.6.2.9.1.2.4.5.7.7s.9.5%201.7.8c.9.4%201.6.8%202.1%201.1s.8.7%201%201.2.3.8.3%201.4zm6.9%203.5h-2.1v-11h-3.8v-1.9h9.7v1.8h-3.8v11.1zM192%2024.5v8.3c0%20.9-.2%201.8-.6%202.5-.4.7-1%201.3-1.8%201.6-.8.4-1.7.6-2.8.6-1.6%200-2.8-.4-3.7-1.3-.9-.9-1.3-2-1.3-3.5v-8.2h2.1v8.1c0%201.1.2%201.8.7%202.3s1.2.8%202.3.8c2%200%203-1%203-3.1v-8.1h2.1zm13.8%206.3c0%202.1-.6%203.7-1.8%204.9-1.2%201.1-2.9%201.7-5.1%201.7h-3.6V24.5h4c2%200%203.6.6%204.8%201.7%201.2%201.1%201.7%202.6%201.7%204.6zm-2.3.1c0-3.1-1.4-4.6-4.3-4.6h-1.8v9.3h1.5c3.1%200%204.6-1.6%204.6-4.7zm5%206.5V24.5h2.1v12.8h-2.1v.1zm16.9-6.5c0%202.1-.5%203.7-1.6%204.9-1%201.2-2.5%201.7-4.4%201.7s-3.4-.6-4.5-1.7c-1-1.2-1.6-2.8-1.6-4.9s.5-3.8%201.6-4.9c1-1.1%202.5-1.7%204.5-1.7%201.9%200%203.4.6%204.4%201.7s1.6%202.8%201.6%204.9zm-9.8%200c0%201.6.3%202.8%201%203.6.6.8%201.6%201.2%202.8%201.2%201.2%200%202.2-.4%202.8-1.2.6-.8%201-2%201-3.6s-.3-2.8-.9-3.6c-.6-.8-1.6-1.2-2.8-1.2-1.3%200-2.2.4-2.9%201.2-.7.9-1%202.1-1%203.6zM49.9%2054.5c-.9%200-1.6-.3-2.2-.9s-.8-1.4-.8-2.4c0-1.1.3-1.9.8-2.5s1.3-.9%202.2-.9c.3%200%20.6%200%20.9.1s.6.1.7.2l-.3.8c-.2-.1-.4-.2-.7-.2-.3%200-.5-.1-.7-.1-1.3%200-2%20.8-2%202.5%200%20.8.2%201.4.5%201.8s.8.6%201.4.6c.5%200%201.1-.1%201.6-.3v.9c-.2.3-.7.4-1.4.4zm7.1-.1l-.2-.9c-.3.4-.6.7-1%20.8-.4.1-.7.2-1.2.2-.6%200-1.1-.2-1.5-.5s-.5-.8-.5-1.4c0-1.3%201-2%203.1-2h1.1v-.4c0-.5-.1-.9-.3-1.1-.2-.2-.6-.4-1-.4-.5%200-1.1.2-1.8.5l-.3-.7c.3-.2.7-.3%201-.4s.8-.1%201.1-.1c.8%200%201.3.2%201.7.5s.6.9.6%201.6v4.4H57v-.1zm-2.2-.7c.6%200%201.1-.2%201.4-.5s.5-.8.5-1.4v-.6h-1c-.8%200-1.3.1-1.7.4s-.5.5-.5%201c0%20.4.1.6.3.8.2.2.6.3%201%20.3zm5.9.7h-1v-9.1h1v9.1zm10.3%200v-4.2c0-.5-.1-.9-.3-1.2-.2-.3-.6-.4-1-.4-.6%200-1.1.2-1.3.5-.2.3-.4.9-.4%201.6v3.6h-1v-4.2c0-.5-.1-.9-.3-1.2-.2-.3-.6-.4-1-.4-.6%200-1.1.2-1.3.5-.2.3-.4%201-.4%201.8v3.4h-1v-6.4h.8l.2.9c.2-.3.4-.6.8-.7s.7-.3%201.1-.3c1%200%201.7.4%202%201.1.2-.3.5-.6.8-.8s.8-.3%201.2-.3c.7%200%201.3.2%201.6.6.3.4.5%201%20.5%201.8v4.2l-1%20.1zm11.3%200l-1.2-3.8c-.1-.2-.2-.8-.4-1.6-.2.7-.3%201.2-.4%201.6l-1.2%203.8H78L76.2%2048h1c.4%201.6.7%202.8.9%203.7.2.9.3%201.4.4%201.7%200-.2.1-.5.2-.9s.2-.6.2-.8l1.2-3.7h1.1l1.1%203.7c.2.7.4%201.2.4%201.7%200-.1.1-.4.1-.7s.5-1.9%201.2-4.7h1l-1.8%206.4h-.9zm6.8.1c-.9%200-1.7-.3-2.2-.9s-.8-1.4-.8-2.4.3-1.9.8-2.5%201.2-.9%202.1-.9c.8%200%201.4.3%201.9.8s.7%201.2.7%202.1v.6h-4.4c0%20.8.2%201.3.6%201.7s.9.6%201.5.6c.7%200%201.4-.1%202.1-.4v.9c-.3.1-.7.3-1%20.3s-.9.1-1.3.1zm-.3-5.9c-.5%200-.9.2-1.2.5-.3.3-.5.8-.5%201.4h3.4c0-.6-.1-1.1-.4-1.4s-.8-.5-1.3-.5zm7.3-.8c.8%200%201.5.3%202%20.9s.7%201.4.7%202.4-.2%201.9-.7%202.5-1.1.9-2%20.9c-.4%200-.8-.1-1.1-.2s-.6-.4-.9-.7H94l-.2.8h-.7v-9.1h1v3.5c.4-.6%201.1-1%202-1zm-.1.9c-.7%200-1.1.2-1.4.6s-.4%201-.4%201.9.2%201.5.5%201.9c.3.4.8.6%201.4.6.6%200%201-.2%201.3-.7s.4-1.1.4-1.9-.1-1.5-.4-1.9-.8-.5-1.4-.5zm11.7%203.9c0%20.6-.2%201.1-.7%201.4s-1.1.5-1.9.5c-.9%200-1.5-.1-2-.4v-.9c.3.2.6.3%201%20.4.4.1.7.1%201%20.1.5%200%20.9-.1%201.2-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.6-.2-.1-.6-.4-1.3-.6-.6-.2-1-.4-1.3-.6-.3-.2-.4-.4-.6-.6s-.2-.5-.2-.8c0-.5.2-.9.6-1.2s1-.5%201.8-.5c.7%200%201.4.1%202%20.4l-.3.8c-.6-.3-1.2-.4-1.8-.4-.5%200-.8.1-1%20.2-.2.1-.4.3-.4.6%200%20.2%200%20.3.1.4.1.1.2.2.4.3.2.1.6.3%201.1.5.8.3%201.3.6%201.5.8.2.2.7.7.7%201.1zm7.2-1.4c0%201-.3%201.9-.8%202.5s-1.3.9-2.2.9c-.6%200-1.1-.1-1.5-.4-.4-.3-.8-.7-1-1.2-.2-.5-.4-1.1-.4-1.8%200-1%20.3-1.9.8-2.4s1.3-.9%202.2-.9c.9%200%201.6.3%202.1.9s.8%201.3.8%202.4zm-4.9%200c0%20.8.2%201.4.5%201.9s.8.6%201.4.6c.6%200%201.1-.2%201.5-.6.4-.4.5-1.1.5-1.9s-.2-1.4-.5-1.9-.8-.6-1.5-.6c-.6%200-1.1.2-1.4.6s-.5%201-.5%201.9zm7.5%203.2h-1v-9.1h1v9.1zm3-6.4v4.2c0%20.5.1.9.4%201.2.3.3.6.4%201.1.4.7%200%201.2-.2%201.5-.6.3-.4.5-1%20.5-1.8V48h1v6.4h-.8l-.1-.9h-.1c-.2.3-.5.6-.8.7s-.8.3-1.2.3c-.8%200-1.4-.2-1.8-.6s-.6-1-.6-1.8v-4.2l.9.1zm8.5%205.7h.5c.2%200%20.3-.1.4-.1v.7c-.1.1-.3.1-.5.1h-.6c-1.2%200-1.9-.7-1.9-2v-3.8h-.9v-.5l.9-.4.4-1.4h.6v1.5h1.9v.8h-1.9v3.8c0%20.4.1.7.3.9s.5.4.8.4zm2.1-7.5c0-.2.1-.4.2-.5.1-.1.2-.2.4-.2s.3.1.4.2c.1.1.2.3.2.5s-.1.4-.2.5c-.1.1-.2.2-.4.2s-.3-.1-.4-.2c-.1-.1-.2-.3-.2-.5zm1.1%208.2h-1V48h1v6.4zm7.6-3.2c0%201-.3%201.9-.8%202.5s-1.3.9-2.2.9c-.6%200-1.1-.1-1.5-.4-.4-.3-.8-.7-1-1.2-.2-.5-.4-1.1-.4-1.8%200-1%20.3-1.9.8-2.4s1.3-.9%202.2-.9c.9%200%201.6.3%202.1.9s.8%201.3.8%202.4zm-4.9%200c0%20.8.2%201.4.5%201.9s.8.6%201.4.6c.6%200%201.1-.2%201.5-.6.4-.4.5-1.1.5-1.9s-.2-1.4-.5-1.9-.8-.6-1.5-.6c-.6%200-1.1.2-1.4.6s-.5%201-.5%201.9zm11%203.2v-4.2c0-.5-.1-.9-.4-1.2s-.6-.4-1.1-.4c-.7%200-1.2.2-1.5.5s-.5%201-.5%201.8v3.4h-1v-6.4h.9l.2.9c.2-.3.5-.6.8-.7.3-.1.8-.3%201.2-.3.8%200%201.4.2%201.7.6s.6%201%20.6%201.8v4.2h-.9zm7.1-1.8c0%20.6-.2%201.1-.7%201.4s-1%20.5-1.9.5c-.9%200-1.5-.1-2-.4v-.9c.3.2.6.3%201%20.4.4.1.7.1%201%20.1.5%200%20.9-.1%201.2-.2.3-.1.4-.4.4-.7%200-.3-.1-.5-.3-.6s-.6-.4-1.3-.6c-.6-.2-1-.4-1.3-.6-.3-.2-.4-.4-.6-.6s-.2-.5-.2-.8c0-.5.2-.9.6-1.2.4-.3%201-.5%201.8-.5.7%200%201.4.1%202%20.4l-.3.8c-.6-.3-1.2-.4-1.8-.4-.5%200-.8.1-1%20.2-.2.1-.4.3-.4.6%200%20.2%200%20.3.1.4.1.1.2.2.4.3s.6.3%201.1.5c.8.3%201.3.6%201.5.8.2.2.7.7.7%201.1z%22%2F%3E%3C%2Fsvg%3E');
    }
}

// modals

.modal-backdrop {
    background: #4baf50;
    &.in {
        opacity: .75;
    }
}
.modal-dialog{


}
.modal-dialog_sm {
    width: 100%;
    max-width: 350px;
    margin: 10% auto 10px;
    @media (max-width: 386px){
        .close-x{
            top: 15px;
            right: 15px;
        }
    }
}
.modal-dialog_xl{
    width: 100%;
    max-width: 1033px;
    margin: 10% auto 10px;
    @media (max-width: 1076px){
        .close-x{
            top: 15px;
            right: 15px;
        }
    }
}

.modal-content {
    box-shadow: 0 3px 55px rgba(21, 21, 22, 0.2);
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    overflow: hidden;
    padding: 100px 30px 30px 30px;
    position: relative;
    &__img {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all ease-in-out;
        transition-duration: .3s;
        transition-delay: .6s;
    }
    &__hiding-content {
        position: relative;
        transform: translateY(350%);
        transition: all ease-in-out;
        transition-duration: .3s;
        transition-delay: .6s;
    }
    &__title {
        color: #333;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle {
        color: #666;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 17px;
    }
}

.in {
    .modal-content__img {
        top: 30px;
        transform: translate(-50%, 0);
    }
    .modal-content__hiding-content {
        transform: translatey(0);
    }
}

fieldset {
    padding: 20px 0 0 0;
    border: none;
    position: relative;
}

.modal-input-row {
    position: relative;
}

.modal-butn-row {
    padding-top: 30px;
    text-align: center;
    .butn {
        width: 100%;
        max-width: 290px;
    }
}

.modal-input {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #bcbcbc;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 15px 18px;
    &:hover, &:focus {
        border-color: #92c54e;
    }

}
textarea.modal-input{
    max-width: 100%;
    min-height: 196px;
    max-height: 196px;

}

.resultval {
    color: #4baf50;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.modal-input + label,
textarea + label {
    position: absolute;
    top: 38px;
    left: 18px;
    z-index: 9;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    pointer-events: none;
    @include trans;
}

.modal-input:focus + label,
label.stay,
textarea:focus + label {
    top: 3px;
    font-size: 12px;
    color: #92c54e;
}

.close-x {
    top: -15px;
    right: -15px;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 9;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 19px;
        left: 9px;
        background-color: #bbbcc3;
        @include trans;
    }
    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    &:hover {
        &:before, &:after {
            background: #92c54e;
        }
        &:before {
            transform: rotate(-135deg);
        }
        &:after {
            transform: rotate(315deg);
        }
    }
}
.modal-content__table-wrap{
    @media(max-width: 700px){
        overflow-x: scroll;
    }
}
.modal-content__table{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 35px;
    th{
        background-color: #92c64e;
        height: 52px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        padding: 5px;
        text-align: center;
        border: 1px solid #fff;
    }
    td{
        height: 52px;
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1;
        border: 1px solid #fff;
        padding: 5px;
        &:first-child{
            font-size: 18px;
            font-weight: 700;
        }
    }
    tr{
        &:nth-child(1n+1){
            td{
                &:nth-child(odd){
                    background-color: #dbefdc;
                }
                &:nth-child(even){
                    background-color: #c9e7ca;
                }
            }
        }
        &:nth-child(2n+1){
            td{
                &:nth-child(odd){
                   background-color: #deeeca;
                }
                &:nth-child(even){
                    background-color: #e9f4dc;
                }
            }
        }
    }
    @media(max-width: 700px){
        width: 640px;

    }
}
.modal-content__table-text{
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
}
.modal-content__table-butn{
    text-align: center;
    .butn{
        + .butn{
            margin-left: 30px;
        }
    }
    @media(max-width: 555px){
        .butn{
            display: block;
            margin-left:auto!important;
            margin-right:auto!important;
            max-width: 260px;
            + .butn{
                margin-top: 30px;
            }
        }
    }
}
body{
    padding-right:0!important;
}
body.modal-open{
    padding-right: 17px!important;
    header{
        margin-right: 17px;
    }
}
.modal-content{
    &__testemonial-name{
        color: #333333;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 15px;
        padding-right: 30px;
    }
    &__testemonial-date{
        color: #999;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 25px;
    }
    &__testemonial-text{
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
    }

}
.modal-content_testemonial{
    padding-top: 30px;
}
@media (max-width: 991px){
    ._h-tab{
        display: none;
    }
}

@media (max-width: 767px){
    ._h-mob{
        display: none;
    }
}
.areaForLoader {
    background-color: #1fa426;
    background-image: linear-gradient(to top, rgba(146, 197, 78, 0) 0%, rgba(146, 197, 78, 0.5) 99%, rgba(146, 197, 78, 0.5) 100%);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 9999;
}
.preloader{
    position: absolute;
    @include center;
}