header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 999;
    &.fixed {
        position: fixed;
        box-shadow: 0 3px 55px rgba(21, 21, 22, 0.1);
        background-color: #fff;
    }
    .container {
        position: relative;
        padding-left: 200px !important;
        @include bp(1199) {
            position: static;
            padding-left: 15px !important;
        }
    }
    @include bp(1199) {
        position: static!important;
    }

}

.header-logo {
    position: absolute;
    width: 121px;
    height: 70px;
    left: 15px;
    top: 26px;
    img {
        max-width: 100%;
    }
    &:before, &:after {
        @include pseudo;
        height: 1px;
        background-color: #d8d8d8;
        top: 26px;
        width: 1920px;
    }
    &:before {
        right: calc(100% - 28px);
    }
    &:after {
        left: calc(100% - 28px);
    }
    @include bp(1199) {
            position: static;
            display: block;
            margin: 5px auto 0;
        &:before, &:after {
            display: none;
        }

    }
}

.header-top {
    min-height: 53px;
    @include jusWrap;
    line-height: 0;
    padding-top: 10px;
    &__item {
        line-height: 1;
        display: inline-block;
        a {
            min-height: 35px;
            line-height: 35px;
            display: inline-block;
            vertical-align: middle;
            + a {
                margin-left: 15px;
            }
        }
        @media (max-width: 600px){
            display: block;
            text-align: center;
        }
    }
}

.location {
    color: #4baf50;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-left: 26px;
    position: relative;
    &:before {
        @include pseudo;
        left: 0;
        top: 50%;
        width: 17px;
        height: 24px;
        margin-top: -12px;
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2225%22%20viewBox%3D%220%200%2020%2025%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M606.97%2028.69l-5.41%208.52a1.69%201.69%200%200%201-2.85%200l-5.41-8.52a8.35%208.35%200%200%201-1.3-4.5%208.2%208.2%200%200%201%208.13-8.27%208.2%208.2%200%200%201%208.14%208.28c0%201.65-.48%203.2-1.3%204.49zm-6.84-10.7a6.16%206.16%200%200%200-6.1%206.2c0%201.2.34%202.37.98%203.37l5.12%208.08%205.13-8.08c.64-1%20.97-2.16.97-3.36a6.16%206.16%200%200%200-6.1-6.21zm0%209.66a3.42%203.42%200%200%201-3.39-3.45c0-1.9%201.52-3.45%203.4-3.45a3.42%203.42%200%200%201%203.38%203.45c0%201.9-1.51%203.45-3.39%203.45zm0-4.83c-.74%200-1.35.62-1.35%201.38%200%20.76.6%201.38%201.35%201.38.75%200%201.36-.62%201.36-1.38%200-.76-.6-1.38-1.36-1.38z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%234baf50%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-590%20-14)%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        background-size: contain;
    }
    &:hover {
        color: #4baf50;
        &:before {
            animation: hoverLeft .3s;
        }
    }
    @media (max-width: 600px){
        
    }
}

.phone {
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    padding-left: 33px;
    position: relative;
    &:before {
        @include pseudo;
        left: 0;
        top: 50%;
        width: 23px;
        height: 23px;
        margin-top: -14px;
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1178.2%2035.57l-1.25-1.26a3.43%203.43%200%200%201%20.88-5.49l3.57-1.83c.87-.46%202-.3%202.72.37l.42.38c.4.37%201.03.46%201.52.2a6.51%206.51%200%200%200%202.82-2.82c.25-.5.17-1.11-.21-1.52l-.38-.42a2.4%202.4%200%200%201-.37-2.73l1.83-3.58a3.43%203.43%200%200%201%205.15-1.17l1.08.83a5.08%205.08%200%200%201%201.74%205.6%2023.23%2023.23%200%200%201-14.24%2014.66%205.03%205.03%200%200%201-5.29-1.22zm13.39-17.75l-1.83%203.57a.34.34%200%200%200%20.05.39l.38.42a3.43%203.43%200%200%201%20.52%203.87%208.56%208.56%200%200%201-3.7%203.71%203.46%203.46%200%200%201-3.87-.52l-.41-.38c-.07-.06-.25-.13-.39-.06l-3.56%201.84a1.38%201.38%200%200%200-.36%202.2l1.24%201.26c.8.8%202.06%201.1%203.13.72a21.14%2021.14%200%200%200%2012.97-13.35%203%203%200%200%200-1.03-3.31l-1.08-.83a1.37%201.37%200%200%200-2.06.47z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%234baf50%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1174%20-13)%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        background-size: contain;
    }
    &:hover {
        color: #212121;
        &:before {
            animation: hoverLeft .3s;
        }
    }
}

.callorder {
    border-radius: 18px;
    background: rgba(75, 175, 80, 0.102);
    min-width: 160px;
    text-align: center;
    position: relative;
    z-index: 9;
    @include trans;
    span {
        display: inline-block;
        color: #4baf50;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        border-bottom: 1px dotted #4baf50;
        @include trans;
    }
    &:hover {
        background-color: #4baf50;
        background-image: linear-gradient(to top, rgba(146, 197, 78, 0) 0%, rgba(146, 197, 78, 0.79) 99%, rgba(146, 197, 78, 0.8) 100%);
        span {
            color: #fff;
            border-color: transparent;
        }
    }
}

.header-bottom {
    padding-top: 25px;
    padding-bottom: 22px;
    @include bp(1199) {
        padding: 0;
    }
}

#nav {
    list-style: none;
    display: block;
    text-align: justify;
    line-height: 0;
    margin-bottom: 0;
    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }
    li {
        display: inline-block;
        text-align: left;
        line-height: normal;
        position: relative;
        a {
            color: #212121;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            text-transform: uppercase;
            @include trans;
            &:hover, &.active {
                color: #92c64e;
            }
        }
    }
    @include bp(1199) {
        position: fixed;
        top: -100%;

        background-image: linear-gradient(to top, rgba(146, 197, 78, .9) 0%, rgba(146, 197, 78, 0.95) 99%, rgba(146, 197, 78, 0.95) 100%);
        z-index: 9997;
        width: 100%;
        left: 0;
        padding-top: 70px;
        overflow: hidden;
        height: 0;
        transition: all .5s ease-in-out;
        li{
            display: block;
            text-align: center;
            margin-bottom: 30px;
            position: relative;
            transform: translateY(-9350%);
            a{
                font-size: 24px;
                color: #fff;
                &.active{
                    color: #fff;
                }
            }
        }
        &.open{
            top: 0;
            height:100vh;
            bottom: 0;
            li{
                transform: translateY(0);
                transition: all ease-in-out;
                transition-duration: .5s;
                transition-delay: .3s;
            }

        }
    }
}

#hamburger {
    display: none;
    position: fixed;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(75, 175, 80, 0.55);
    background-color: #4baf50;
    background-image: linear-gradient(to top, rgba(146, 197, 78, 0) 0%, rgba(146, 197, 78, 0.79) 99%, rgba(146, 197, 78, 0.8) 100%);
    bottom: 40px;
    right: 15px;
    z-index: 9999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    .span-wrap{
        position: relative;
        height: 25px;
        width: 32px;
        @include center;
    }
    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 32px;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    @include bp(1199){
        display: block;
    }
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
    top: 9px;
}

#hamburger span:nth-child(4) {
    top: 18px;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}
