/*MEDIA QUERY*/
@media (max-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 690px) and (max-width: 1024px) {
}
@media (min-width: 1024px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (max-width: 690px) {
}
@media (max-width: 610px) {
}
@media (max-width: 577px) {

}
@media (max-width: 540px) {
}
@media (max-width: 490px) {
}
@media (max-width: 380px) {
}