@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin trans($type: all .3s ease-in-out ) {
	transition: $type;
}
@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin centerY() {
	top: 50%;
	transform: translateY(-50%);
}
@mixin centerX() {
	left: 50%;
	transform: translateX(-50%);
}
@mixin jusWrap() {
	text-align: justify;
	&:after {
		content: "";
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		display: inline-block;
	}
}


@mixin bp($class) {
	@if $class == 767 {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $class == 768 {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $class == 991 {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $class == 992 {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $class == 1200 {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $class == 1199 {
		@media (max-width: 1199px) {
			@content;
		}
	}
}

@keyframes hoverTop {
	0% {
		top: 0;
	}

	50% {
		top: -15px;
	}

	100% {
		top: 0;
	}
}
@keyframes hoverLeft {
	0% {
		left: 0;
	}

	50% {
		left: -15px;
	}

	100% {
		left: 0;
	}
}
@keyframes moveLeftRight {
	0% {
		left: 0;
	}

	50% {
		left: 50px;
	}

	100% {
		left: 0;
	}
}

//.face:hover {
//	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//	transform: translate3d(0, 0, 0);
//	backface-visibility: hidden;
//	perspective: 1000px;
//}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	15% {
		top: 200px;
		animation-timing-function: ease-out;
	}
	30% {
		top: 70px;
		animation-timing-function: ease-in;
	}
	45% {
		top: 200px;
		animation-timing-function: ease-out;
	}
	60% {
		top: 120px;
		animation-timing-function: ease-in;
	}
	75% {
		top: 200px;
		animation-timing-function: ease-out;
	}
	90% {
		top: 170px;
		animation-timing-function: ease-in;
	}
	100% {
		top: 200px;
		animation-timing-function: ease-out;
	}
}

@-webkit-keyframes spin1 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin1 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin2 {
	0% {
		-webkit-transform: rotate(72deg);
		transform: rotate(72deg);
	}
	100% {
		-webkit-transform: rotate(-288deg);
		transform: rotate(-288deg);
	}
}

@keyframes spin2 {
	0% {
		-webkit-transform: rotate(72deg);
		transform: rotate(72deg);
	}
	100% {
		-webkit-transform: rotate(-288deg);
		transform: rotate(-288deg);
	}
}

@-webkit-keyframes spin3 {
	0% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
	100% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
}

@keyframes spin3 {
	0% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
	100% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
}

@-webkit-keyframes spin4 {
	0% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
	100% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
}

@keyframes spin4 {
	0% {
		-webkit-transform: rotate(216deg);
		transform: rotate(216deg);
	}
	100% {
		-webkit-transform: rotate(-144deg);
		transform: rotate(-144deg);
	}
}
.float{
	animation: float 3s infinite ease-in-out;
}

@keyframes float {
	0% {
		transform: translate(0,0);
	}
	20%{
        transform: translate(-2px, -2px);
	}
	40%{


    }
    60%{

    }
    80%{
        transform: translate(3px, -3px);

    }
	50% {

	}
	70%{

	}
	100% {
		transform: translate(0,0);
	}
}

@mixin shake($x, $y, $rot, $name, $steps:10, $opacity:false) {
    $r:0deg;
    $h:0px;
    $v:0px;

    $interval: $steps;
    $step: 0%;

    @keyframes #{$name}{
        @while $step < 100% {
            @if ($rot != 0deg){ $r : random($rot) - $rot/2;}
            @else { $r : 0deg; }
            @if ($x != 0px){ $h : random($x) - $x/2; }
            @else { $h : 0px; }
            @if ($y != 0px){ $v : random($y) - $y/2; }
            @else { $v : 0px; }

            @if($step == 0%){
                #{$step} {
                    transform: translate(0px, 0px) rotate(0deg);
                    @if($opacity){
                        opacity: random(10)*.1;
                    }
                }
            } @else {
                #{$step} {
                    transform: translate($h, $v) rotate($r);
                    @if($opacity){
                        opacity: random(10)*.1;
                    }
                }
            }
            $step: $step + $interval;
        }

    }
}


// reset
$duration:100ms;
$base-name:shake-base;
$iteration:infinite;
$timing:ease-in-out;
$delay:0s;


// The animation
@mixin animation($name, $dur: $duration, $iter: $iteration, $tim: $timing, $del: $delay){
    animation-name: $name;
    animation-duration: $dur;
    animation-iteration-count: $iter;
    animation-timing-function: $tim;
    animation-delay: $del;
}

// shake shake-constant shake-slow
.shake {
    display: inline-block;
    transform-origin: center center;
    @include animation($base-name);


    &.freez {
        @include animation($base-name);
        &.shake-hard { @include animation(shake-hard); }
        &.shake-slow { @include animation(shake-slow, 5s); }
        &.shake-little { @include animation(shake-little); }
        &.shake-horizontal { @include animation(shake-horizontal); }
        &.shake-vertical { @include animation(shake-vertical); }
        &.shake-rotate { @include animation(shake-rotate); }
        &.shake-opacity { @include animation(shake-opacity, 200ms); }
        &.shake-crazy { @include animation(shake-crazy); }
        animation-play-state: paused;
        &:hover {
            animation-play-state: running;
        }
    }

    // Specific shakings
    &.shake-hard:hover { @include animation(shake-hard); }
    &.shake-slow:hover { @include animation(shake-slow, 15s); }
    &.shake-little:hover { @include animation(shake-little); }
    &.shake-horizontal:hover { @include animation(shake-horizontal); }
    &.shake-vertical:hover { @include animation(shake-vertical); }
    &.shake-rotate:hover { @include animation(shake-rotate); }
    &.shake-opacity:hover { @include animation(shake-opacity, 200ms); }
    &.shake-crazy:hover { @include animation(shake-crazy); }

    &.shake-constant {
        @include animation($base-name);
        &.shake-hard { @include animation(shake-hard); }
        &.shake-slow { @include animation(shake-slow, 60s); }
        &.shake-little { @include animation(shake-little); }
        &.shake-horizontal { @include animation(shake-horizontal); }
        &.shake-vertical { @include animation(shake-vertical); }
        &.shake-rotate { @include animation(shake-rotate); }
        &.shake-opacity { @include animation(shake-opacity, 200ms); }
        &.shake-crazy { @include animation(shake-crazy); }
        &.hover-stop:hover{
            animation-play-state: paused;
        }
    }
    &.shake-delay { @include animation($base-name, $duration, $iteration, $timing, 4s); }

}


// The animations: its names and settings to call from animation mixin
@include shake(5px, 5px, 3deg, 'shake-base', 2);
@include shake(2px, 2px, 1deg, 'shake-little', 2);
@include shake(20px, 20px, 7deg, 'shake-slow', 2);
@include shake(20px, 20px, 7deg, 'shake-hard', 2);
@include shake(20px, 0px, 0deg, 'shake-horizontal', 2);
@include shake(0px, 20px, 0deg, 'shake-vertical', 2);
@include shake(0px, 0px, 15deg, 'shake-rotate', 2);
@include shake(10px, 10px, 5deg, 'shake-opacity', 10, true);
@include shake(40px, 40px, 20deg, 'shake-crazy', 10, true);

.shake{

}
.move{
    animation: shake-slow, 10s;
}