@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/lato/lato-bold-webfont.eot');
	src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
	url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
	url('../fonts/lato/lato-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/lato/lato-regular-webfont.eot');
	src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
	url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
	url('../fonts/lato/lato-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
	&:hover{
		text-decoration: none!important;
	}
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	background: url("../img/bg-body.png");
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}

@import 'mixins';

h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}
$c-green: #4baf50;
.a-hidden {
	opacity: 0;
}

.a-visible {
	opacity: 1;
}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}



// @import 'sprite';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';